@use '../../foundation/import';;
.editor-styles-wrapper {
	ul.wp-block-archives-list,
	ul.wp-block-categories-list {
		margin-left: 1em;
		list-style: circle;
		li {
			margin-top: import.spvw(4);
			@include import.mqMin(import.$tabletPortrait) {
				margin-top: 8px;
			}
		}
		ul {
			margin-left: 1em;
			list-style: circle;
		}
	}
}
