@use '../../foundation/import';
@include import.wpBlocks {
	.wp-block-code {
		background-color: import.$mainColor;
		border: solid 1px import.$alto;
		padding: import.spvw(8);
		font-size: 1rem;
		@include import.mqMin(import.$tabletPortrait) {
			padding: 16px;
		}
	}
}
