@use '../../foundation/import';
@include import.wpBlocks {
	.wp-block-code {
		background-color: var(--color-main);
		border: solid 1px var(--color-gray);
		padding: import.spvw(8);
		font-size: 1rem;
		@include import.mqMin(import.$tabletPortrait) {
			padding: 16px;
		}
	}
}
