@use '../../foundation/import';
@include import.wpBlocks {
	.wp-block-columns {
		margin-bottom: 0;
		gap: import.spvw(24);
		@include import.mqMin(import.$displayPortrait) {
			gap: 32px;
		}
		.wp-block-column {
			> * {
				@include import.marginTopMiddle;
				&:first-child {
					margin-top: 0 !important;
				}
			}
		}
	}
}
