@use '../../foundation/import';
$spvw : import.spvw(32);
@include import.wpBlocks {
	.wp-block-gallery {
		margin-top: calc(  #{$spvw} - 16px) ;
		@include import.mqMin(import.$displayPortrait) {
			margin-top: calc( 40px - 16px );
		}
	}
}
