@use '../../foundation/import';
.editor-styles-wrapper {
	h1,h2,h3,h4,h5,h6 {
		&:not(.wp-block-post-title,.wp-block-site-title) {
			font-weight: normal;
		}
	}
	h1,h2 {
		&:not(.wp-block-post-title,.wp-block-site-title) {
			background-color: import.$concrete;
			border-left: solid 8px import.$accColor;
			padding: import.spvw(4) import.spvw(8);
			@include import.mqMin(import.$tabletPortrait) {
				padding: 8px 16px;
			}
		}
		font-size: 1.75rem;
	}
	h3,h4,h5 {
		&:not([class]) {
			border-bottom-color: import.$accColor;
			border-bottom: solid import.$accColor;
		}
	}
	h3,h4 {
		&:not([class]) {
			border-bottom-style: solid;
		}
	}
	h5 {
		&:not([class]) {
			border-bottom-style: dotted;
		}
	}
	h3 {
		font-size: 1.5rem;
		&:not([class]) {
			border-bottom-width: 2px;
		}
	}
	h4,h5 {
		font-size: 1.25rem;
		&:not([class]) {
			border-bottom-width: 1px;
		}
	}
	h5 ,h6 {
		font-size: 1rem;
	}
}
