@use '../../foundation/import';

@include import.wpBlocks {
	ul {
		&:not([class]) ,&.wp-block-list {
			list-style-type: circle;
		}
	}
	ol {
		&:not([class]) ,&.wp-block-list {
			list-style-type: decimal;
		}
	}
	ul , ol {
		&:not([class]) ,&.wp-block-list {
			padding-left: 1em;
			font-size: 1rem;
			li {
				margin-top: import.spvw(4);
				@include import.mqMin(import.$tabletPortrait) {
					margin-top: 8px;
				}
				&:first-child {
					margin-top: 0;
				}
				ul , ol {
					margin-top: import.spvw(4);
					@include import.mqMin(import.$tabletPortrait) {
						margin-top: 8px;
					}
				}
			}
		}
		&.wp-block-archives ,&.wp-block-post-template {
			list-style-type: none;
		}
	}
}
