@use '../../foundation/import';

.wp-block-post-terms {
	margin-bottom: -0.5em !important;
	* {
		display: inline-flex;
		align-items: center;
		margin-bottom: .5em;
		color: import.$black;
		text-decoration: none;
		font-size: .75rem;
		&:hover {
			text-decoration: underline;
		}
		&::before{
			margin-right: .5em;
			font-family: 'Material Icons';
		}
	}
	&.is-cat {
		* {
			&::before{
				content: "\e2c7";
			}
		}
	}
	&.is-tag {
		* {
			&::before{
				content: "\e9ef";
			}
		}
	}
}
