@use '../../foundation/import';
@include import.wpBlocks {
	.wp-block-table {
		table {
			thead {
				tr {
					border-bottom: solid 2px var(--tbk-color-border) ;
				}
			}
			tbody {
				tr {
					border-bottom: dotted 1px var(--tbk-color-border) ;
				}
			}
			tfoot {
				tr {
					border-top: solid 2px var(--tbk-color-border) ;
				}
			}
			th,td {
				padding: import.spvw(4);
				@include import.mqMin(import.$displayPortrait) {
					padding: 8px;
				}
			}
		}
		&.is-style-stripes {
			border-bottom: none;
			table {
				tbody{
					tr {
						&:nth-child(odd) {
							background-color:var(--tbk-color-sub);
							color: var(--tbk-color-sub-font );
						}
					}
				}
			}
		}
	}
	&.is-selected {
		table {
			th,td {
				outline: var(--tbk-color-base-font) dashed thin;
			}
		}
	}
}
