@use '../foundation/import';

@include import.mqMin(import.$dpTabPt) {
    .l-col {
        display: flex;
        flex-wrap: nowrap;
        > * {
            flex-basis: 0;
            flex-grow: 1;
        }
        > *:not(:first-child) {
            margin-left: 24px;
        }
        .l-col-wide {
            flex-basis: 56.25%;
        }
    }
}
