@use '../foundation/import';

.l-container {
	@include import.mqMin(import.$tabletPortrait) {
		padding-left: 24px;
		padding-right: 24px;
	}
	@include import.mqMin(1200px) {
		max-width: 100vw;
		padding-left: calc((100% - 1160px) / 2);
		padding-right: calc((100% - 1160px) / 2);
	}
	@include import.mqMax(import.$smartPhone) {
		padding-right: import.spvw(16);
		padding-left: import.spvw(16);
	}
}
