@use '../foundation/import';
.l-footer-wrapper {
	margin-top: auto;
}
.l-footer {
	padding-top: import.spvw(16);
	padding-bottom: import.spvw(16);
	background-color: import.$mainColor;
	@include import.mqMin(import.$tabletPortrait) {
		padding-top: 16px;
		padding-bottom: 16px;
	}
	> * {
		color: import.$black;
	}
	&__copyright {
		margin-top: import.spvw(8);
		text-align: center;
		font-size: 0.75rem;
		@include import.mqMin(import.$tabletPortrait) {
			margin-top: 8px;
		}
	}
}

.l-fnav {
	text-align: center;
	&__item {
		display: inline-block;
		color: import.$black;
		@include import.mqMin(import.$tabletPortrait) {
			margin-right: 8px;
			margin-left: 8px;
			font-size: 0.75rem;
		}
		@include import.mqMax(import.$smartPortrait) {
			margin-right:import.spvw(8);
			margin-left: import.spvw(8);
		}
	}
}
