@use '../foundation/import';
.l-header {
	transition: .5s;
	background-color: import.$baseColor;
	width: 100%;
	z-index: 9900;
	border-bottom: solid 1px import.$alto;
	@include import.mqMin(import.$tabletPortrait) {
		padding-top: 8px;
		padding-bottom: 8px;
	}
	@include import.mqMax(import.$smartPhone) {
		padding-top: import.spvw(4);
		padding-bottom: import.spvw(4);
	}
	&.is-scrolled {
		position: fixed;
		top: 0;
		background: rgba($color:import.$baseColor, $alpha: .5)
	}
	.l-container {
		display: flex;
		justify-content:space-between;
		align-items: center;
	}
	&__heading {
		width: 200px;
		transition: .5s;
		&.is-invalid {
			opacity: 0;
			pointer-events: none;
		}
		@include import.mqMin(import.$tabletPortrait) {
			width: 160px;
		}
		@include import.mqMax(import.$smartPhone) {
			width: import.spvw(160);
		}
	}
	&__nav {
		display: flex;
		align-items: center;
	}
}

.l-header-utility {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-color: import.$baseColor;
		text-align: center;
		@include import.mqMin(import.$tabletPortrait) {
			width: 44px;
			height: 44px;
			margin-left: 12px;
		}
		@include import.mqMax(import.$smartPhone) {
			width: import.spvw(40);
			height: import.spvw(40);
			margin-left: import.spvw(10);
		}
		&#searchBtn {
			z-index: 9800;
		}
		&#gnavBtn {
			z-index: 9999;
		}
	}
}
.l-header-utility-ico , .l-header-utility-ico--close {
	@include import.mqMin(import.$tabletPortrait) {
		width: 17.6px;
		height: 17.6px;
	}
	@include import.mqMax(import.$smartPhone) {
		width: import.spvw(17.6);
		height: import.spvw(17.6);
	}
}
.l-header-utility-ico {
	fill:import.$black  !important;
	stroke:import.$black  !important;
}
.l-header-utility-ico--close {
	display: none;
	stroke: import.$baseColor !important;
}


