@use '../foundation/import';
//検索フォーム
.l-search-form {
	position: fixed;
	display: none;
	z-index: 9100;
	width: 100%;
	padding-top: import.spvw(16);
	@include import.mqMin(import.$dpTabPt) {
		padding-top: 32px;
	}
	&.is-opened {
		display: block;
	}
	.c-container {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: normal;
		.c-input-txt {
			flex: 1;
			border-right: none;
			border-radius: 8px 0 0 8px;
		}
		.button {
			display: inline-flex;
			justify-content: align-items;
			border-radius: 0 8px 8px 0;
		}
	}
}
