@use '../foundation/import';

#wrapper {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    > * {
        flex-shrink: 0;
    }
}