@use '../foundation/import';
.wp-block-pullquote {
	margin-bottom: 0;
	border-top: 4px solid currentColor;
    border-bottom: 4px solid currentColor;
	cite {
		display: block;
		margin-top: 1em;
	}
}
