@use '../../foundation/import';
.c-input-txt ,
.c-input-txtarea {
	padding: import.spvw(4);
	background-color: import.$white;
	border:solid 1px import.$alto;
	border-radius: 8px;
	font-size: 1rem;
	@include import.mqMin(import.$tabletPortrait) {
		padding: 8px;
	}
	&::placeholder {
		font-size: 1rem;
	}
}
