@use '../../foundation/import';

.c-label-tag {
	display: inline-block;
	padding: import.spvw(2) import.spvw(4);
	background-color: import.$pastelPink;
	text-decoration: none;
	color: import.$black;
	font-weight: normal;
	font-size: .5rem;
	@include import.mqMin(import.$tabletPortrait) {
		padding: 4px 8px;
	}
	&::before{
		content: "\f292";
		font-family: FontAwesome;
		margin-right: 0.5em;
	}
}

.c-label-cat {
	display: inline-block;
	padding: import.spvw(2) import.spvw(8);
	background-color: import.$black;
	border-radius: import.spvw(12);
	color: import.$white;
	font-size: .5rem;
	@include import.mqMin(import.$tabletPortrait) {
		padding: 4px 12px;
		border-radius: 20px;
	}
}
