@use '../../foundation/import';
/*
* アニメーションを行う要素の初期状態を定義
*/
.u-fadein-up {
	opacity: 0;
	transform: translateY(50px);
	&.is-ignition {
		transition: 1s;
		opacity: 1;
		transform: translateY(0);
	}
}
