@use '../../foundation/import';
.c-btn {
    display: inline-block;
    background-color: import.$btnColorBg;
    color: import.$btnColorTetx;
    padding: import.spvw(8) import.spvw(20);
    border-radius: 8px;
    text-decoration: none;
    @include import.mqMin(import.$tabletPortrait) {
        padding: 8px 16px;
    }
    &--reverse {
        @extend .c-btn;
        background-color: import.$btnColorTetx;
        border : solid 1px import.$btnColorBg;
        color: import.$btnColorBg;
    }
    &--mini {
        @extend .c-btn;
        padding: import.spvw(4) import.spvw(8);
        font-size: import.spvw(8);
        @include import.mqMin(import.$tabletPortrait) {
            padding: 8px 12px;
            font-size: 8px;
        }
    }
}
