@charset "UTF-8";
:root {
  --tsbk-color-base: #ffffff;
  --tsbk-color-base-font: #333333;
  --tsbk-color-main: #d7d7d7;
  --tsbk-color-main-font: #ffffff;
  --tsbk-color-sub: #e2e2e2;
  --tsbk-color-sub-font: #333333;
  --tsbk-color-acc: #004D9F;
  --tsbk-color-acc-font: #ffffff;
  --tsbk-color-link: #003366;
  --tsbk-color-border: #999999;
  --tsbk-color-white:#ffffff;
  --tsbk-color-gray: #666666;
  --tsbk-color-black: #000000;
}

:root {
  --wp--preset--font-size--normal:1rem;
  --wp--preset--font-size--huge: 2.625rem;
}

body {
  --wp--preset--font-size--small: .875rem;
  --wp--preset--font-size--medium: 1rem;
  --wp--preset--font-size--large: 2rem;
  --wp--preset--font-size--x-large: 2.625rem;
}

body {
  background-color: var(--tsbk-color-base);
  color: var(--tsbk-color-base-font);
  box-sizing: border-box;
  padding-right: 3.738317757vw;
  padding-left: 3.738317757vw;
  font-family: "Noto Sans JP", sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    padding-right: 36px;
    padding-left: 36px;
  }
}
@media screen and (min-width: 1366px) {
  body {
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 36px;
    padding-right: 36px;
  }
}
body * {
  box-sizing: border-box;
}
body > * {
  margin-bottom: 0;
  margin-top: 7.476635514vw;
}
@media screen and (min-width: 768px) {
  body > * {
    margin-top: 40px;
  }
}
body > *:first-child {
  margin-top: 0;
}
body p {
  margin: 0;
  line-height: 1.75;
  font-size: 1rem;
}
body p + p {
  margin-top: 1em;
}
body figure figcaption {
  margin-top: 1.4018691589vw;
  margin-bottom: 0;
  text-align: center;
  font-size: 0.5rem;
}
@media screen and (min-width: 768px) {
  body figure figcaption {
    margin-top: 8px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1, h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4, h5 {
  font-size: 1.25rem;
}

h5, h6 {
  font-size: 1rem;
}

h1.is-style-border, h2.is-style-border, h3.is-style-border, h4.is-style-border, h5.is-style-border, h6.is-style-border {
  border-left: solid 8px var(--tsbk-color-acc);
  padding: 0.9345794393vw 1.8691588785vw;
}
@media screen and (min-width: 768px) {
  h1.is-style-border, h2.is-style-border, h3.is-style-border, h4.is-style-border, h5.is-style-border, h6.is-style-border {
    padding: 8px 16px;
  }
}
h1.is-style-center, h2.is-style-center, h3.is-style-center, h4.is-style-center, h5.is-style-center, h6.is-style-center {
  text-align: center;
  position: relative;
  display: block;
  height: auto;
  padding-bottom: 8px;
}
h1.is-style-center::after, h2.is-style-center::after, h3.is-style-center::after, h4.is-style-center::after, h5.is-style-center::after, h6.is-style-center::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 4px;
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  background-color: var(--tsbk-color-acc);
  transform: translateX(-50%);
}

p {
  line-height: 1.75;
  font-size: 1rem;
}

ul:not([class]), ul.wp-block-list {
  list-style-type: circle;
}

ol:not([class]), ol.wp-block-list {
  list-style-type: decimal;
}

ul:not([class]), ul.wp-block-list, ol:not([class]), ol.wp-block-list {
  padding-left: 1em;
  font-size: 1rem;
}
ul:not([class]) li, ul.wp-block-list li, ol:not([class]) li, ol.wp-block-list li {
  margin-top: 0.9345794393vw;
}
@media screen and (min-width: 768px) {
  ul:not([class]) li, ul.wp-block-list li, ol:not([class]) li, ol.wp-block-list li {
    margin-top: 8px;
  }
}
ul:not([class]) li:first-child, ul.wp-block-list li:first-child, ol:not([class]) li:first-child, ol.wp-block-list li:first-child {
  margin-top: 0;
}
ul:not([class]) li ul, ul:not([class]) li ol, ul.wp-block-list li ul, ul.wp-block-list li ol, ol:not([class]) li ul, ol:not([class]) li ol, ol.wp-block-list li ul, ol.wp-block-list li ol {
  margin-top: 0.9345794393vw;
}
@media screen and (min-width: 768px) {
  ul:not([class]) li ul, ul:not([class]) li ol, ul.wp-block-list li ul, ul.wp-block-list li ol, ol:not([class]) li ul, ol:not([class]) li ol, ol.wp-block-list li ul, ol.wp-block-list li ol {
    margin-top: 8px;
  }
}
ul.wp-block-archives, ul.wp-block-post-template, ol.wp-block-archives, ol.wp-block-post-template {
  list-style-type: none;
}

.wp-block-quote {
  border-left: 4px solid currentColor;
  padding-left: 1em;
}
.wp-block-quote cite {
  display: block;
  margin-top: 1em;
}

.wp-block-code {
  background-color: var(--tsbk-color-sub);
  border: solid 1px var(--tsbk-color-border);
  padding: 1.8691588785vw;
  color: var(--tsbk-color-sub-font);
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .wp-block-code {
    padding: 16px;
  }
}

.wp-block-pullquote {
  margin-bottom: 0;
  border-top: 4px solid currentColor;
  border-bottom: 4px solid currentColor;
}
.wp-block-pullquote p {
  font-size: 1.5rem;
}
.wp-block-pullquote cite {
  display: block;
  margin-top: 1em;
  font-size: 1rem;
}

.wp-block-table {
  width: 100%;
}
.wp-block-table table thead tr {
  border-bottom: solid 2px var(--tsbk-color-border);
}
.wp-block-table table tbody tr {
  border-bottom: dotted 1px var(--tsbk-color-border);
}
.wp-block-table table tfoot tr {
  border-top: solid 2px var(--tsbk-color-border);
}
.wp-block-table table th, .wp-block-table table td {
  padding: 0.9345794393vw;
}
@media screen and (min-width: 768px) {
  .wp-block-table table th, .wp-block-table table td {
    padding: 8px;
  }
}
.wp-block-table.is-style-stripes {
  border-bottom: none;
}
.wp-block-table.is-style-stripes table tbody tr:nth-child(odd) {
  background-color: var(--tsbk-color-sub);
  color: var(--tsbk-color-sub-font);
}
.wp-block-table.is-selected table th, .wp-block-table.is-selected table td {
  outline: var(--tsbk-color-base-font) dashed thin;
}

.wp-block-image {
  margin-bottom: 0;
}
.wp-block-image figcaption {
  margin-bottom: 0;
}

.wp-block-video {
  margin-bottom: 0;
}
.wp-block-video figcaption {
  margin-bottom: 0;
}

.wp-block-post-terms {
  margin-bottom: -0.5em !important;
}
.wp-block-post-terms * {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0.5em;
}
.wp-block-post-terms.is-cat a {
  padding: 0.9345794393vw 1.8691588785vw;
  margin-right: 1em;
  background-color: var(--tsbk-color-acc);
  border-radius: 2.3364485981vw;
  color: var(--tsbk-color-acc-font);
  font-size: 0.75rem;
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  .wp-block-post-terms.is-cat a {
    border-radius: 10px;
    padding: 4px 8px;
  }
}
.wp-block-post-terms.is-cat a:hover {
  opacity: 0.5;
}
.wp-block-post-terms.is-cat .wp-block-post-terms__separator {
  display: none;
}
.wp-block-post-terms.is-tag a {
  color: var(--tsbk-color-base-font);
  font-size: 0.75rem;
  font-weight: bold;
}
.wp-block-post-terms.is-tag a:hover {
  text-decoration: underline;
}

.button, .post-page-numbers.current, .wp-block-file .wp-block-file__button,
.comment-reply-link,
.post-page-numbers,
.form-submit .submit, .wp-block-buttons .is-style-outline > .wp-block-button__link:not(.has-background),
.wp-block-buttons .wp-block-button__link.is-style-outline:not(.has-background), .wp-block-buttons .wp-block-button__link:not(.has-background), .button--mini {
  display: inline-block;
  padding: 1.8691588785vw 4.6728971963vw;
  background: linear-gradient(90deg, var(--tsbk-color-white) 0%, var(--tsbk-color-white) 50%, var(--tsbk-color-link) 50%, var(--tsbk-color-link) 100%);
  background-position: 100% 0%;
  background-size: 200%;
  border: solid 1px var(--tsbk-color-link);
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  color: var(--tsbk-color-white);
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .button, .post-page-numbers.current, .wp-block-file .wp-block-file__button,
.comment-reply-link,
.post-page-numbers,
.form-submit .submit, .wp-block-buttons .is-style-outline > .wp-block-button__link:not(.has-background),
.wp-block-buttons .wp-block-button__link.is-style-outline:not(.has-background), .wp-block-buttons .wp-block-button__link:not(.has-background), .button--mini {
    padding: 8px 16px;
  }
}
.button.is-outlined, .wp-block-file .is-outlined.wp-block-file__button,
.is-outlined.comment-reply-link,
.is-outlined.post-page-numbers,
.post-page-numbers.current,
.form-submit .is-outlined.submit, .wp-block-buttons .is-outlined.wp-block-button__link:not(.has-background), .wp-block-buttons .wp-block-button__link.post-page-numbers.current:not(.has-background), .wp-block-buttons .is-style-outline > .wp-block-button__link:not(.has-background),
.wp-block-buttons .wp-block-button__link.is-style-outline:not(.has-background), .is-outlined.button--mini {
  background: linear-gradient(90deg, var(--tsbk-color-link) 0%, var(--tsbk-color-link) 50%, var(--tsbk-color-white) 50%, var(--tsbk-color-white) 100%);
  background-position: 100% 50%;
  background-size: 200%;
  color: var(--tsbk-color-link);
}
.button--mini {
  padding: 0.9345794393vw 1.8691588785vw;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .button--mini {
    padding: 8px 12px;
  }
}

a.button:hover, .wp-block-file a.wp-block-file__button:hover,
a.comment-reply-link:hover,
a.post-page-numbers:hover,
.form-submit a.submit:hover, .wp-block-buttons a.wp-block-button__link:hover:not(.has-background), a.button--mini:hover, button.button:hover, .wp-block-file button.wp-block-file__button:hover,
button.comment-reply-link:hover,
button.post-page-numbers:hover,
.form-submit button.submit:hover, .wp-block-buttons button.wp-block-button__link:hover:not(.has-background), button.button--mini:hover, input.button:hover, .wp-block-file input.wp-block-file__button:hover,
input.comment-reply-link:hover,
input.post-page-numbers:hover,
.form-submit input.submit:hover, .wp-block-buttons input.wp-block-button__link:hover:not(.has-background), input.button--mini:hover {
  animation: hoverBgColor ease 0.5s both;
  color: var(--tsbk-color-link);
}
a.button.is-outlined:hover, .wp-block-file a.is-outlined.wp-block-file__button:hover,
a.is-outlined.comment-reply-link:hover,
a.is-outlined.post-page-numbers:hover,
a.post-page-numbers.current:hover,
.form-submit a.is-outlined.submit:hover, .wp-block-buttons a.is-outlined.wp-block-button__link:hover:not(.has-background), .wp-block-buttons .is-style-outline > a.wp-block-button__link:hover:not(.has-background),
.wp-block-buttons a.wp-block-button__link.is-style-outline:hover:not(.has-background), a.is-outlined.button--mini:hover, button.button.is-outlined:hover, .wp-block-file button.is-outlined.wp-block-file__button:hover,
button.is-outlined.comment-reply-link:hover,
button.is-outlined.post-page-numbers:hover,
button.post-page-numbers.current:hover,
.form-submit button.is-outlined.submit:hover, .wp-block-buttons button.is-outlined.wp-block-button__link:hover:not(.has-background), .wp-block-buttons .is-style-outline > button.wp-block-button__link:hover:not(.has-background),
.wp-block-buttons button.wp-block-button__link.is-style-outline:hover:not(.has-background), button.is-outlined.button--mini:hover, input.button.is-outlined:hover, .wp-block-file input.is-outlined.wp-block-file__button:hover,
input.is-outlined.comment-reply-link:hover,
input.is-outlined.post-page-numbers:hover,
input.post-page-numbers.current:hover,
.form-submit input.is-outlined.submit:hover, .wp-block-buttons input.is-outlined.wp-block-button__link:hover:not(.has-background), .wp-block-buttons .is-style-outline > input.wp-block-button__link:hover:not(.has-background),
.wp-block-buttons input.wp-block-button__link.is-style-outline:hover:not(.has-background), input.is-outlined.button--mini:hover {
  animation: hoverBgColor ease 0.5s both;
  color: var(--tsbk-color-white);
}

@keyframes hoverBgColor {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.wp-block-separator {
  margin-top: 40px;
  margin-bottom: 40px;
}

.wp-block-latest-posts__list li {
  margin-top: 0.9345794393vw;
}
@media screen and (min-width: 768px) {
  .wp-block-latest-posts__list li {
    margin-top: 8px;
  }
}
.wp-block-latest-posts__list li:first-child {
  margin-top: 0;
}
.wp-block-latest-posts__list li a {
  font-size: 1rem;
}
.wp-block-latest-posts__post-date {
  font-size: 0.875rem;
}

.wp-block-archives-dropdown {
  position: relative;
}
.wp-block-archives-dropdown label {
  display: none;
}
.wp-block-archives-dropdown select {
  width: 100%;
  padding: 8px;
  border: solid 1px var(--tsbk-color-border);
  color: var(--tsbk-color-main-font);
}
.wp-block-archives-dropdown::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Material Icons";
  font-size: 1.75rem;
}

ul.wp-block-archives-list,
ul.wp-block-categories-list {
  margin-left: 1em;
  list-style: circle;
}
ul.wp-block-archives-list li,
ul.wp-block-categories-list li {
  margin-top: 0.9345794393vw;
}
@media screen and (min-width: 768px) {
  ul.wp-block-archives-list li,
ul.wp-block-categories-list li {
    margin-top: 8px;
  }
}
ul.wp-block-archives-list ul,
ul.wp-block-categories-list ul {
  margin-left: 1em;
  list-style: circle;
}

.wp-block-query .wp-block-columns:not([class*=wp-container-]) {
  gap: 1rem;
}
.wp-block-query .wp-block-columns .wp-block-column {
  margin-top: 0 !important;
}
.wp-block-query .wp-block-post-template:not(.is-flex-container) li {
  padding: 20px 0;
  border-bottom: solid 1px var(--tsbk-color-border);
}
.wp-block-query .wp-block-post-template:not(.is-flex-container) li:first-child {
  border-top: solid 1px var(--tsbk-color-border);
}
.wp-block-query .wp-block-post-template:not(.is-flex-container) li > *:first-child {
  margin-top: 0 !important;
}
.wp-block-query .wp-block-post-template .wp-block-post-title a {
  text-decoration: none;
}
.wp-block-query .wp-block-post-template .wp-block-post-title a:hover {
  text-decoration: underline;
}
.wp-block-query .wp-block-post-template .wp-block-post-title:not([style]) a {
  color: var(--tsbk-color-base-font);
}
.wp-block-query .wp-block-post-template .is-thumbnail .is-noimage {
  display: block;
  height: 100%;
}
.wp-block-query .wp-block-post-template .is-thumbnail .is-noimage span {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 3/2;
  width: 100%;
  background-color: var(--tsbk-color-sub);
  border: solid 1px var(--tsbk-color-border);
  color: var(--tsbk-color-sub-font);
  font-size: 2rem;
}
.wp-block-query .wp-block-post-template .is-thumbnail .wp-block-post-featured-image {
  overflow: hidden;
  transition: 0.5s;
}
.wp-block-query .wp-block-post-template .is-thumbnail .wp-block-post-featured-image a {
  display: inline;
}
.wp-block-query .wp-block-post-template .is-thumbnail .wp-block-post-featured-image img {
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.wp-block-query .wp-block-post-template .is-thumbnail .wp-block-post-featured-image:hover img {
  transform: scale(1.2);
}

.wp-block-embed {
  margin-bottom: 0;
}
.wp-block-embed iframe {
  width: 100%;
}
.wp-block-embed figcaption {
  margin-bottom: 0;
}

.editor-styles-wrapper a:not(.wp-block-social-link-anchor)[target=_blank]::after {
  font-family: "Material Icons";
  content: "";
  display: inline-flex;
  align-items: center;
  margin-left: 0.5em;
  font-style: normal;
}
.editor-styles-wrapper a:not(.wp-block-social-link-anchor)[href$=".pdf"]::after {
  font-family: "Material Icons";
  content: "";
  display: inline-flex;
  align-items: center;
  margin-left: 0.5em;
  font-style: normal;
}

/*# sourceMappingURL=editor.css.map*/