@charset "UTF-8";
:root {
  --tsbk-color-base: #ffffff;
  --tsbk-color-base-font: #333333;
  --tsbk-color-main: #d7d7d7;
  --tsbk-color-main-font: #333333;
  --tsbk-color-sub: #e2e2e2;
  --tsbk-color-sub-font: #333333;
  --tsbk-color-acc: #004D9F;
  --tsbk-color-acc-font: #ffffff;
  --tsbk-color-link: #003366;
  --tsbk-color-border: #999999;
  --tsbk-color-white:#ffffff;
  --tsbk-color-gray: #666666;
  --tsbk-color-black: #000000;
}

:root {
  --wp--preset--font-size--normal:1rem;
  --wp--preset--font-size--huge: 2.625rem;
}

body {
  --wp--preset--font-size--small: .875rem;
  --wp--preset--font-size--medium: 1rem;
  --wp--preset--font-size--large: 2rem;
  --wp--preset--font-size--x-large: 2.625rem;
}

.editor-styles-wrapper, .is-root-container {
  margin-top: 4.6728971963vw;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper, .is-root-container {
    margin-top: 40px;
  }
}
.editor-styles-wrapper > *, .is-root-container > * {
  margin-top: 7.476635514vw;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper > *, .is-root-container > * {
    margin-top: 40px;
  }
}
.editor-styles-wrapper > *:first-child, .is-root-container > *:first-child {
  margin-top: 0 !important;
}
.editor-styles-wrapper figure figcaption, .is-root-container figure figcaption {
  margin-top: 1.4018691589vw;
  margin-bottom: 0;
  text-align: center;
  font-size: 0.5rem;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper figure figcaption, .is-root-container figure figcaption {
    margin-top: 8px;
  }
}

.editor-styles-wrapper h1, .editor-styles-wrapper h2, .is-root-container h1, .is-root-container h2 {
  font-size: 1.75rem;
}
.editor-styles-wrapper h3, .is-root-container h3 {
  font-size: 1.5rem;
}
.editor-styles-wrapper h4, .editor-styles-wrapper h5, .is-root-container h4, .is-root-container h5 {
  font-size: 1.25rem;
}
.editor-styles-wrapper h5, .editor-styles-wrapper h6, .is-root-container h5, .is-root-container h6 {
  font-size: 1rem;
}
.editor-styles-wrapper h1.is-style-border, .editor-styles-wrapper h2.is-style-border, .editor-styles-wrapper h3.is-style-border, .editor-styles-wrapper h4.is-style-border, .editor-styles-wrapper h5.is-style-border, .editor-styles-wrapper h6.is-style-border, .is-root-container h1.is-style-border, .is-root-container h2.is-style-border, .is-root-container h3.is-style-border, .is-root-container h4.is-style-border, .is-root-container h5.is-style-border, .is-root-container h6.is-style-border {
  border-left: solid 8px var(--tsbk-color-acc);
  padding: 0.9345794393vw 1.8691588785vw;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper h1.is-style-border, .editor-styles-wrapper h2.is-style-border, .editor-styles-wrapper h3.is-style-border, .editor-styles-wrapper h4.is-style-border, .editor-styles-wrapper h5.is-style-border, .editor-styles-wrapper h6.is-style-border, .is-root-container h1.is-style-border, .is-root-container h2.is-style-border, .is-root-container h3.is-style-border, .is-root-container h4.is-style-border, .is-root-container h5.is-style-border, .is-root-container h6.is-style-border {
    padding: 8px 16px;
  }
}
.editor-styles-wrapper h1.is-style-center, .editor-styles-wrapper h2.is-style-center, .editor-styles-wrapper h3.is-style-center, .editor-styles-wrapper h4.is-style-center, .editor-styles-wrapper h5.is-style-center, .editor-styles-wrapper h6.is-style-center, .is-root-container h1.is-style-center, .is-root-container h2.is-style-center, .is-root-container h3.is-style-center, .is-root-container h4.is-style-center, .is-root-container h5.is-style-center, .is-root-container h6.is-style-center {
  text-align: center;
  position: relative;
  display: block;
  height: auto;
  padding-bottom: 8px;
}
.editor-styles-wrapper h1.is-style-center::after, .editor-styles-wrapper h2.is-style-center::after, .editor-styles-wrapper h3.is-style-center::after, .editor-styles-wrapper h4.is-style-center::after, .editor-styles-wrapper h5.is-style-center::after, .editor-styles-wrapper h6.is-style-center::after, .is-root-container h1.is-style-center::after, .is-root-container h2.is-style-center::after, .is-root-container h3.is-style-center::after, .is-root-container h4.is-style-center::after, .is-root-container h5.is-style-center::after, .is-root-container h6.is-style-center::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 4px;
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  background-color: var(--tsbk-color-acc);
  transform: translateX(-50%);
}

.editor-styles-wrapper p:not([class]), .is-root-container p:not([class]) {
  line-height: 1.75;
  font-size: 1rem;
}
.editor-styles-wrapper p:not([class]) + p:not([class]), .is-root-container p:not([class]) + p:not([class]) {
  margin-top: 1em;
}

.editor-styles-wrapper ul:not([class]), .editor-styles-wrapper ul.wp-block-list, .is-root-container ul:not([class]), .is-root-container ul.wp-block-list {
  list-style-type: circle;
}
.editor-styles-wrapper ol:not([class]), .editor-styles-wrapper ol.wp-block-list, .is-root-container ol:not([class]), .is-root-container ol.wp-block-list {
  list-style-type: decimal;
}
.editor-styles-wrapper ul:not([class]), .editor-styles-wrapper ul.wp-block-list, .editor-styles-wrapper ol:not([class]), .editor-styles-wrapper ol.wp-block-list, .is-root-container ul:not([class]), .is-root-container ul.wp-block-list, .is-root-container ol:not([class]), .is-root-container ol.wp-block-list {
  padding-left: 1em;
  font-size: 1rem;
}
.editor-styles-wrapper ul:not([class]) li, .editor-styles-wrapper ul.wp-block-list li, .editor-styles-wrapper ol:not([class]) li, .editor-styles-wrapper ol.wp-block-list li, .is-root-container ul:not([class]) li, .is-root-container ul.wp-block-list li, .is-root-container ol:not([class]) li, .is-root-container ol.wp-block-list li {
  margin-top: 0.9345794393vw;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper ul:not([class]) li, .editor-styles-wrapper ul.wp-block-list li, .editor-styles-wrapper ol:not([class]) li, .editor-styles-wrapper ol.wp-block-list li, .is-root-container ul:not([class]) li, .is-root-container ul.wp-block-list li, .is-root-container ol:not([class]) li, .is-root-container ol.wp-block-list li {
    margin-top: 8px;
  }
}
.editor-styles-wrapper ul:not([class]) li:first-child, .editor-styles-wrapper ul.wp-block-list li:first-child, .editor-styles-wrapper ol:not([class]) li:first-child, .editor-styles-wrapper ol.wp-block-list li:first-child, .is-root-container ul:not([class]) li:first-child, .is-root-container ul.wp-block-list li:first-child, .is-root-container ol:not([class]) li:first-child, .is-root-container ol.wp-block-list li:first-child {
  margin-top: 0;
}
.editor-styles-wrapper ul:not([class]) li ul, .editor-styles-wrapper ul:not([class]) li ol, .editor-styles-wrapper ul.wp-block-list li ul, .editor-styles-wrapper ul.wp-block-list li ol, .editor-styles-wrapper ol:not([class]) li ul, .editor-styles-wrapper ol:not([class]) li ol, .editor-styles-wrapper ol.wp-block-list li ul, .editor-styles-wrapper ol.wp-block-list li ol, .is-root-container ul:not([class]) li ul, .is-root-container ul:not([class]) li ol, .is-root-container ul.wp-block-list li ul, .is-root-container ul.wp-block-list li ol, .is-root-container ol:not([class]) li ul, .is-root-container ol:not([class]) li ol, .is-root-container ol.wp-block-list li ul, .is-root-container ol.wp-block-list li ol {
  margin-top: 0.9345794393vw;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper ul:not([class]) li ul, .editor-styles-wrapper ul:not([class]) li ol, .editor-styles-wrapper ul.wp-block-list li ul, .editor-styles-wrapper ul.wp-block-list li ol, .editor-styles-wrapper ol:not([class]) li ul, .editor-styles-wrapper ol:not([class]) li ol, .editor-styles-wrapper ol.wp-block-list li ul, .editor-styles-wrapper ol.wp-block-list li ol, .is-root-container ul:not([class]) li ul, .is-root-container ul:not([class]) li ol, .is-root-container ul.wp-block-list li ul, .is-root-container ul.wp-block-list li ol, .is-root-container ol:not([class]) li ul, .is-root-container ol:not([class]) li ol, .is-root-container ol.wp-block-list li ul, .is-root-container ol.wp-block-list li ol {
    margin-top: 8px;
  }
}
.editor-styles-wrapper ul.wp-block-archives, .editor-styles-wrapper ul.wp-block-post-template, .editor-styles-wrapper ol.wp-block-archives, .editor-styles-wrapper ol.wp-block-post-template, .is-root-container ul.wp-block-archives, .is-root-container ul.wp-block-post-template, .is-root-container ol.wp-block-archives, .is-root-container ol.wp-block-post-template {
  list-style-type: none;
}

.editor-styles-wrapper .wp-block-quote, .is-root-container .wp-block-quote {
  border-left: 4px solid currentColor;
  padding-left: 1em;
}
.editor-styles-wrapper .wp-block-quote cite, .is-root-container .wp-block-quote cite {
  display: block;
  margin-top: 1em;
}

.editor-styles-wrapper .wp-block-code, .is-root-container .wp-block-code {
  background-color: var(--tsbk-color-sub);
  border: solid 1px var(--tsbk-color-border);
  padding: 1.8691588785vw;
  color: var(--tsbk-color-sub-font);
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .wp-block-code, .is-root-container .wp-block-code {
    padding: 16px;
  }
}

.editor-styles-wrapper .wp-block-pullquote, .is-root-container .wp-block-pullquote {
  margin-bottom: 0;
  border-top: 4px solid currentColor;
  border-bottom: 4px solid currentColor;
}
.editor-styles-wrapper .wp-block-pullquote p, .is-root-container .wp-block-pullquote p {
  font-size: 1.5rem;
}
.editor-styles-wrapper .wp-block-pullquote cite, .is-root-container .wp-block-pullquote cite {
  display: block;
  margin-top: 1em;
  font-size: 1rem;
}

.editor-styles-wrapper .wp-block-table table thead tr, .is-root-container .wp-block-table table thead tr {
  border-bottom: solid 2px var(--tsbk-color-border);
}
.editor-styles-wrapper .wp-block-table table tbody tr, .is-root-container .wp-block-table table tbody tr {
  border-bottom: dotted 1px var(--tsbk-color-border);
}
.editor-styles-wrapper .wp-block-table table tfoot tr, .is-root-container .wp-block-table table tfoot tr {
  border-top: solid 2px var(--tsbk-color-border);
}
.editor-styles-wrapper .wp-block-table table th, .editor-styles-wrapper .wp-block-table table td, .is-root-container .wp-block-table table th, .is-root-container .wp-block-table table td {
  padding: 0.9345794393vw;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .wp-block-table table th, .editor-styles-wrapper .wp-block-table table td, .is-root-container .wp-block-table table th, .is-root-container .wp-block-table table td {
    padding: 8px;
  }
}
.editor-styles-wrapper .wp-block-table.is-style-stripes, .is-root-container .wp-block-table.is-style-stripes {
  border-bottom: none;
}
.editor-styles-wrapper .wp-block-table.is-style-stripes table tbody tr:nth-child(odd), .is-root-container .wp-block-table.is-style-stripes table tbody tr:nth-child(odd) {
  background-color: var(--tsbk-color-sub);
  color: var(--tsbk-color-sub-font);
}
.editor-styles-wrapper.is-selected table th, .editor-styles-wrapper.is-selected table td, .is-root-container.is-selected table th, .is-root-container.is-selected table td {
  outline: var(--tsbk-color-base-font) dashed thin;
}

.editor-styles-wrapper .wp-block-image, .is-root-container .wp-block-image {
  margin-bottom: 0;
}
.editor-styles-wrapper .wp-block-image figcaption, .is-root-container .wp-block-image figcaption {
  margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-gallery, .is-root-container .wp-block-gallery {
  margin-top: calc( 7.476635514vw - 16px);
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .wp-block-gallery, .is-root-container .wp-block-gallery {
    margin-top: calc( 40px - 16px );
  }
}

.editor-styles-wrapper .wp-block-video, .is-root-container .wp-block-video {
  margin-bottom: 0;
}
.editor-styles-wrapper .wp-block-video figcaption, .is-root-container .wp-block-video figcaption {
  margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-columns, .is-root-container .wp-block-columns {
  margin-bottom: 0;
}
@media (max-width: 781px) {
  .editor-styles-wrapper .wp-block-columns, .is-root-container .wp-block-columns {
    margin-top: 0 !important;
  }
}
.editor-styles-wrapper .wp-block-columns .wp-block-column, .is-root-container .wp-block-columns .wp-block-column {
  margin-bottom: 0;
}
@media (max-width: 781px) {
  .editor-styles-wrapper .wp-block-columns .wp-block-column, .is-root-container .wp-block-columns .wp-block-column {
    margin-top: 4.6728971963vw;
  }
}
@media screen and (max-width: 781px) and (min-width: 768px) {
  .editor-styles-wrapper .wp-block-columns .wp-block-column, .is-root-container .wp-block-columns .wp-block-column {
    margin-top: 40px;
  }
}
@media (min-width: 600px) and (max-width: 781px) {
  .editor-styles-wrapper .wp-block-columns .wp-block-column:not(:only-child), .is-root-container .wp-block-columns .wp-block-column:not(:only-child) {
    flex-basis: calc(50% - .5em) !important;
  }
  .editor-styles-wrapper .wp-block-columns .wp-block-column:nth-child(2n), .is-root-container .wp-block-columns .wp-block-column:nth-child(2n) {
    margin-left: 1em;
  }
}
.editor-styles-wrapper .wp-block-columns .wp-block-column > *, .is-root-container .wp-block-columns .wp-block-column > * {
  margin-top: 7.476635514vw;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .wp-block-columns .wp-block-column > *, .is-root-container .wp-block-columns .wp-block-column > * {
    margin-top: 40px;
  }
}
.editor-styles-wrapper .wp-block-columns .wp-block-column > *:first-child, .is-root-container .wp-block-columns .wp-block-column > *:first-child {
  margin-top: 0 !important;
}
.editor-styles-wrapper .wp-block-group__inner-container .wp-block-columns .wp-block-column, .is-root-container .wp-block-group__inner-container .wp-block-columns .wp-block-column {
  margin-bottom: 0;
}
@media (max-width: 781px) {
  .editor-styles-wrapper .wp-block-group__inner-container .wp-block-columns .wp-block-column, .is-root-container .wp-block-group__inner-container .wp-block-columns .wp-block-column {
    margin-top: 3.738317757vw;
  }
}
@media screen and (max-width: 781px) and (min-width: 768px) {
  .editor-styles-wrapper .wp-block-group__inner-container .wp-block-columns .wp-block-column, .is-root-container .wp-block-group__inner-container .wp-block-columns .wp-block-column {
    margin-top: 16px;
  }
}

.wp-block-post-terms {
  margin-bottom: -0.5em !important;
}
.wp-block-post-terms * {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0.5em;
}
.wp-block-post-terms.is-cat a {
  padding: 0.9345794393vw 1.8691588785vw;
  margin-right: 1em;
  background-color: var(--tsbk-color-acc);
  border-radius: 2.3364485981vw;
  color: var(--tsbk-color-acc-font);
  font-size: 0.75rem;
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  .wp-block-post-terms.is-cat a {
    border-radius: 10px;
    padding: 4px 8px;
  }
}
.wp-block-post-terms.is-cat a:hover {
  opacity: 0.5;
}
.wp-block-post-terms.is-cat .wp-block-post-terms__separator {
  display: none;
}
.wp-block-post-terms.is-tag a {
  color: var(--tsbk-color-base-font);
  font-size: 0.75rem;
  font-weight: bold;
}
.wp-block-post-terms.is-tag a:hover {
  text-decoration: underline;
}

.button, .editor-styles-wrapper .post-page-numbers.current, .is-root-container .post-page-numbers.current, .editor-styles-wrapper .wp-block-file .wp-block-file__button,
.editor-styles-wrapper .comment-reply-link,
.editor-styles-wrapper .post-page-numbers,
.editor-styles-wrapper .form-submit .submit, .is-root-container .wp-block-file .wp-block-file__button,
.is-root-container .comment-reply-link,
.is-root-container .post-page-numbers,
.is-root-container .form-submit .submit, .editor-styles-wrapper .wp-block-buttons .is-style-outline > .wp-block-button__link:not(.has-background),
.editor-styles-wrapper .wp-block-buttons .wp-block-button__link.is-style-outline:not(.has-background), .is-root-container .wp-block-buttons .is-style-outline > .wp-block-button__link:not(.has-background),
.is-root-container .wp-block-buttons .wp-block-button__link.is-style-outline:not(.has-background), .editor-styles-wrapper .wp-block-buttons .wp-block-button__link:not(.has-background), .is-root-container .wp-block-buttons .wp-block-button__link:not(.has-background), .button--mini {
  display: inline-block;
  padding: 1.8691588785vw 4.6728971963vw;
  background: linear-gradient(90deg, var(--tsbk-color-white) 0%, var(--tsbk-color-white) 50%, var(--tsbk-color-link) 50%, var(--tsbk-color-link) 100%);
  background-position: 100% 0%;
  background-size: 200%;
  border: solid 1px var(--tsbk-color-link);
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  color: var(--tsbk-color-white);
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .button, .editor-styles-wrapper .post-page-numbers.current, .is-root-container .post-page-numbers.current, .editor-styles-wrapper .wp-block-file .wp-block-file__button,
.editor-styles-wrapper .comment-reply-link,
.editor-styles-wrapper .post-page-numbers,
.editor-styles-wrapper .form-submit .submit, .is-root-container .wp-block-file .wp-block-file__button,
.is-root-container .comment-reply-link,
.is-root-container .post-page-numbers,
.is-root-container .form-submit .submit, .editor-styles-wrapper .wp-block-buttons .is-style-outline > .wp-block-button__link:not(.has-background),
.editor-styles-wrapper .wp-block-buttons .wp-block-button__link.is-style-outline:not(.has-background), .is-root-container .wp-block-buttons .is-style-outline > .wp-block-button__link:not(.has-background),
.is-root-container .wp-block-buttons .wp-block-button__link.is-style-outline:not(.has-background), .editor-styles-wrapper .wp-block-buttons .wp-block-button__link:not(.has-background), .is-root-container .wp-block-buttons .wp-block-button__link:not(.has-background), .button--mini {
    padding: 8px 16px;
  }
}
.button.is-outlined, .editor-styles-wrapper .button.post-page-numbers.current, .is-root-container .button.post-page-numbers.current, .editor-styles-wrapper .is-outlined.post-page-numbers.current, .editor-styles-wrapper .post-page-numbers.current, .editor-styles-wrapper .is-root-container .post-page-numbers.current, .is-root-container .editor-styles-wrapper .post-page-numbers.current, .is-root-container .is-outlined.post-page-numbers.current, .is-root-container .post-page-numbers.current, .editor-styles-wrapper .wp-block-file .is-outlined.wp-block-file__button, .editor-styles-wrapper .wp-block-file .wp-block-file__button.post-page-numbers.current,
.editor-styles-wrapper .is-outlined.comment-reply-link,
.editor-styles-wrapper .comment-reply-link.post-page-numbers.current,
.editor-styles-wrapper .is-outlined.post-page-numbers,
.editor-styles-wrapper .post-page-numbers.current,
.editor-styles-wrapper .form-submit .is-outlined.submit,
.editor-styles-wrapper .form-submit .submit.post-page-numbers.current, .is-root-container .wp-block-file .is-outlined.wp-block-file__button, .is-root-container .wp-block-file .wp-block-file__button.post-page-numbers.current,
.is-root-container .is-outlined.comment-reply-link,
.is-root-container .comment-reply-link.post-page-numbers.current,
.is-root-container .is-outlined.post-page-numbers,
.is-root-container .post-page-numbers.current,
.is-root-container .form-submit .is-outlined.submit,
.is-root-container .form-submit .submit.post-page-numbers.current, .editor-styles-wrapper .wp-block-buttons .is-outlined.wp-block-button__link:not(.has-background), .editor-styles-wrapper .wp-block-buttons .wp-block-button__link.post-page-numbers.current:not(.has-background), .editor-styles-wrapper .wp-block-buttons .is-style-outline > .wp-block-button__link:not(.has-background),
.editor-styles-wrapper .wp-block-buttons .wp-block-button__link.is-style-outline:not(.has-background), .is-root-container .wp-block-buttons .is-outlined.wp-block-button__link:not(.has-background), .is-root-container .wp-block-buttons .wp-block-button__link.post-page-numbers.current:not(.has-background), .is-root-container .wp-block-buttons .is-style-outline > .wp-block-button__link:not(.has-background),
.is-root-container .wp-block-buttons .wp-block-button__link.is-style-outline:not(.has-background), .is-outlined.button--mini, .editor-styles-wrapper .button--mini.post-page-numbers.current, .is-root-container .button--mini.post-page-numbers.current {
  background: linear-gradient(90deg, var(--tsbk-color-link) 0%, var(--tsbk-color-link) 50%, var(--tsbk-color-white) 50%, var(--tsbk-color-white) 100%);
  background-position: 100% 50%;
  background-size: 200%;
  color: var(--tsbk-color-link);
}
.button--mini {
  padding: 0.9345794393vw 1.8691588785vw;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .button--mini {
    padding: 8px 12px;
  }
}

a.button:hover, .editor-styles-wrapper a.post-page-numbers.current:hover, .is-root-container a.post-page-numbers.current:hover, .editor-styles-wrapper .wp-block-file a.wp-block-file__button:hover,
.editor-styles-wrapper a.comment-reply-link:hover,
.editor-styles-wrapper a.post-page-numbers:hover,
.editor-styles-wrapper .form-submit a.submit:hover, .is-root-container .wp-block-file a.wp-block-file__button:hover,
.is-root-container a.comment-reply-link:hover,
.is-root-container a.post-page-numbers:hover,
.is-root-container .form-submit a.submit:hover, .editor-styles-wrapper .wp-block-buttons a.wp-block-button__link:hover:not(.has-background), .is-root-container .wp-block-buttons a.wp-block-button__link:hover:not(.has-background), a.button--mini:hover, button.button:hover, .editor-styles-wrapper button.post-page-numbers.current:hover, .is-root-container button.post-page-numbers.current:hover, .editor-styles-wrapper .wp-block-file button.wp-block-file__button:hover,
.editor-styles-wrapper button.comment-reply-link:hover,
.editor-styles-wrapper button.post-page-numbers:hover,
.editor-styles-wrapper .form-submit button.submit:hover, .is-root-container .wp-block-file button.wp-block-file__button:hover,
.is-root-container button.comment-reply-link:hover,
.is-root-container button.post-page-numbers:hover,
.is-root-container .form-submit button.submit:hover, .editor-styles-wrapper .wp-block-buttons button.wp-block-button__link:hover:not(.has-background), .is-root-container .wp-block-buttons button.wp-block-button__link:hover:not(.has-background), button.button--mini:hover, input.button:hover, .editor-styles-wrapper input.post-page-numbers.current:hover, .is-root-container input.post-page-numbers.current:hover, .editor-styles-wrapper .wp-block-file input.wp-block-file__button:hover,
.editor-styles-wrapper input.comment-reply-link:hover,
.editor-styles-wrapper input.post-page-numbers:hover,
.editor-styles-wrapper .form-submit input.submit:hover, .is-root-container .wp-block-file input.wp-block-file__button:hover,
.is-root-container input.comment-reply-link:hover,
.is-root-container input.post-page-numbers:hover,
.is-root-container .form-submit input.submit:hover, .editor-styles-wrapper .wp-block-buttons input.wp-block-button__link:hover:not(.has-background), .is-root-container .wp-block-buttons input.wp-block-button__link:hover:not(.has-background), input.button--mini:hover {
  animation: hoverBgColor ease 0.5s both;
  color: var(--tsbk-color-link);
}
a.button.is-outlined:hover, .editor-styles-wrapper a.button.post-page-numbers.current:hover, .is-root-container a.button.post-page-numbers.current:hover, .editor-styles-wrapper .wp-block-file a.is-outlined.wp-block-file__button:hover, .editor-styles-wrapper .wp-block-file a.wp-block-file__button.post-page-numbers.current:hover, .editor-styles-wrapper .wp-block-file .is-root-container a.wp-block-file__button.post-page-numbers.current:hover, .is-root-container .editor-styles-wrapper .wp-block-file a.wp-block-file__button.post-page-numbers.current:hover,
.editor-styles-wrapper a.is-outlined.comment-reply-link:hover,
.editor-styles-wrapper a.comment-reply-link.post-page-numbers.current:hover,
.editor-styles-wrapper .is-root-container a.comment-reply-link.post-page-numbers.current:hover,
.is-root-container .editor-styles-wrapper a.comment-reply-link.post-page-numbers.current:hover,
.editor-styles-wrapper a.is-outlined.post-page-numbers:hover,
.editor-styles-wrapper a.post-page-numbers.current:hover,
.editor-styles-wrapper .is-root-container a.post-page-numbers.current:hover,
.is-root-container .editor-styles-wrapper a.post-page-numbers.current:hover,
.editor-styles-wrapper .form-submit a.is-outlined.submit:hover,
.editor-styles-wrapper .form-submit a.submit.post-page-numbers.current:hover,
.editor-styles-wrapper .form-submit .is-root-container a.submit.post-page-numbers.current:hover,
.is-root-container .editor-styles-wrapper .form-submit a.submit.post-page-numbers.current:hover, .is-root-container .wp-block-file a.is-outlined.wp-block-file__button:hover, .is-root-container .wp-block-file .editor-styles-wrapper a.wp-block-file__button.post-page-numbers.current:hover, .editor-styles-wrapper .is-root-container .wp-block-file a.wp-block-file__button.post-page-numbers.current:hover, .is-root-container .wp-block-file a.wp-block-file__button.post-page-numbers.current:hover,
.is-root-container a.is-outlined.comment-reply-link:hover,
.is-root-container .editor-styles-wrapper a.comment-reply-link.post-page-numbers.current:hover,
.editor-styles-wrapper .is-root-container a.comment-reply-link.post-page-numbers.current:hover,
.is-root-container a.comment-reply-link.post-page-numbers.current:hover,
.is-root-container a.is-outlined.post-page-numbers:hover,
.is-root-container .editor-styles-wrapper a.post-page-numbers.current:hover,
.editor-styles-wrapper .is-root-container a.post-page-numbers.current:hover,
.is-root-container a.post-page-numbers.current:hover,
.is-root-container .form-submit a.is-outlined.submit:hover,
.is-root-container .form-submit .editor-styles-wrapper a.submit.post-page-numbers.current:hover,
.editor-styles-wrapper .is-root-container .form-submit a.submit.post-page-numbers.current:hover,
.is-root-container .form-submit a.submit.post-page-numbers.current:hover, .editor-styles-wrapper .wp-block-buttons a.is-outlined.wp-block-button__link:hover:not(.has-background), .editor-styles-wrapper .wp-block-buttons a.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .editor-styles-wrapper .wp-block-buttons .is-root-container a.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .is-root-container .editor-styles-wrapper .wp-block-buttons a.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .editor-styles-wrapper .wp-block-buttons .is-style-outline > a.wp-block-button__link:hover:not(.has-background),
.editor-styles-wrapper .wp-block-buttons a.wp-block-button__link.is-style-outline:hover:not(.has-background), .is-root-container .wp-block-buttons a.is-outlined.wp-block-button__link:hover:not(.has-background), .is-root-container .wp-block-buttons .editor-styles-wrapper a.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .editor-styles-wrapper .is-root-container .wp-block-buttons a.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .is-root-container .wp-block-buttons a.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .is-root-container .wp-block-buttons .is-style-outline > a.wp-block-button__link:hover:not(.has-background),
.is-root-container .wp-block-buttons a.wp-block-button__link.is-style-outline:hover:not(.has-background), a.is-outlined.button--mini:hover, .editor-styles-wrapper a.button--mini.post-page-numbers.current:hover, .is-root-container a.button--mini.post-page-numbers.current:hover, button.button.is-outlined:hover, .editor-styles-wrapper button.button.post-page-numbers.current:hover, .is-root-container button.button.post-page-numbers.current:hover, .editor-styles-wrapper .wp-block-file button.is-outlined.wp-block-file__button:hover, .editor-styles-wrapper .wp-block-file button.wp-block-file__button.post-page-numbers.current:hover, .editor-styles-wrapper .wp-block-file .is-root-container button.wp-block-file__button.post-page-numbers.current:hover, .is-root-container .editor-styles-wrapper .wp-block-file button.wp-block-file__button.post-page-numbers.current:hover,
.editor-styles-wrapper button.is-outlined.comment-reply-link:hover,
.editor-styles-wrapper button.comment-reply-link.post-page-numbers.current:hover,
.editor-styles-wrapper .is-root-container button.comment-reply-link.post-page-numbers.current:hover,
.is-root-container .editor-styles-wrapper button.comment-reply-link.post-page-numbers.current:hover,
.editor-styles-wrapper button.is-outlined.post-page-numbers:hover,
.editor-styles-wrapper button.post-page-numbers.current:hover,
.editor-styles-wrapper .is-root-container button.post-page-numbers.current:hover,
.is-root-container .editor-styles-wrapper button.post-page-numbers.current:hover,
.editor-styles-wrapper .form-submit button.is-outlined.submit:hover,
.editor-styles-wrapper .form-submit button.submit.post-page-numbers.current:hover,
.editor-styles-wrapper .form-submit .is-root-container button.submit.post-page-numbers.current:hover,
.is-root-container .editor-styles-wrapper .form-submit button.submit.post-page-numbers.current:hover, .is-root-container .wp-block-file button.is-outlined.wp-block-file__button:hover, .is-root-container .wp-block-file .editor-styles-wrapper button.wp-block-file__button.post-page-numbers.current:hover, .editor-styles-wrapper .is-root-container .wp-block-file button.wp-block-file__button.post-page-numbers.current:hover, .is-root-container .wp-block-file button.wp-block-file__button.post-page-numbers.current:hover,
.is-root-container button.is-outlined.comment-reply-link:hover,
.is-root-container .editor-styles-wrapper button.comment-reply-link.post-page-numbers.current:hover,
.editor-styles-wrapper .is-root-container button.comment-reply-link.post-page-numbers.current:hover,
.is-root-container button.comment-reply-link.post-page-numbers.current:hover,
.is-root-container button.is-outlined.post-page-numbers:hover,
.is-root-container .editor-styles-wrapper button.post-page-numbers.current:hover,
.editor-styles-wrapper .is-root-container button.post-page-numbers.current:hover,
.is-root-container button.post-page-numbers.current:hover,
.is-root-container .form-submit button.is-outlined.submit:hover,
.is-root-container .form-submit .editor-styles-wrapper button.submit.post-page-numbers.current:hover,
.editor-styles-wrapper .is-root-container .form-submit button.submit.post-page-numbers.current:hover,
.is-root-container .form-submit button.submit.post-page-numbers.current:hover, .editor-styles-wrapper .wp-block-buttons button.is-outlined.wp-block-button__link:hover:not(.has-background), .editor-styles-wrapper .wp-block-buttons button.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .editor-styles-wrapper .wp-block-buttons .is-root-container button.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .is-root-container .editor-styles-wrapper .wp-block-buttons button.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .editor-styles-wrapper .wp-block-buttons .is-style-outline > button.wp-block-button__link:hover:not(.has-background),
.editor-styles-wrapper .wp-block-buttons button.wp-block-button__link.is-style-outline:hover:not(.has-background), .is-root-container .wp-block-buttons button.is-outlined.wp-block-button__link:hover:not(.has-background), .is-root-container .wp-block-buttons .editor-styles-wrapper button.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .editor-styles-wrapper .is-root-container .wp-block-buttons button.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .is-root-container .wp-block-buttons button.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .is-root-container .wp-block-buttons .is-style-outline > button.wp-block-button__link:hover:not(.has-background),
.is-root-container .wp-block-buttons button.wp-block-button__link.is-style-outline:hover:not(.has-background), button.is-outlined.button--mini:hover, .editor-styles-wrapper button.button--mini.post-page-numbers.current:hover, .is-root-container button.button--mini.post-page-numbers.current:hover, input.button.is-outlined:hover, .editor-styles-wrapper input.button.post-page-numbers.current:hover, .is-root-container input.button.post-page-numbers.current:hover, .editor-styles-wrapper .wp-block-file input.is-outlined.wp-block-file__button:hover, .editor-styles-wrapper .wp-block-file input.wp-block-file__button.post-page-numbers.current:hover, .editor-styles-wrapper .wp-block-file .is-root-container input.wp-block-file__button.post-page-numbers.current:hover, .is-root-container .editor-styles-wrapper .wp-block-file input.wp-block-file__button.post-page-numbers.current:hover,
.editor-styles-wrapper input.is-outlined.comment-reply-link:hover,
.editor-styles-wrapper input.comment-reply-link.post-page-numbers.current:hover,
.editor-styles-wrapper .is-root-container input.comment-reply-link.post-page-numbers.current:hover,
.is-root-container .editor-styles-wrapper input.comment-reply-link.post-page-numbers.current:hover,
.editor-styles-wrapper input.is-outlined.post-page-numbers:hover,
.editor-styles-wrapper input.post-page-numbers.current:hover,
.editor-styles-wrapper .is-root-container input.post-page-numbers.current:hover,
.is-root-container .editor-styles-wrapper input.post-page-numbers.current:hover,
.editor-styles-wrapper .form-submit input.is-outlined.submit:hover,
.editor-styles-wrapper .form-submit input.submit.post-page-numbers.current:hover,
.editor-styles-wrapper .form-submit .is-root-container input.submit.post-page-numbers.current:hover,
.is-root-container .editor-styles-wrapper .form-submit input.submit.post-page-numbers.current:hover, .is-root-container .wp-block-file input.is-outlined.wp-block-file__button:hover, .is-root-container .wp-block-file .editor-styles-wrapper input.wp-block-file__button.post-page-numbers.current:hover, .editor-styles-wrapper .is-root-container .wp-block-file input.wp-block-file__button.post-page-numbers.current:hover, .is-root-container .wp-block-file input.wp-block-file__button.post-page-numbers.current:hover,
.is-root-container input.is-outlined.comment-reply-link:hover,
.is-root-container .editor-styles-wrapper input.comment-reply-link.post-page-numbers.current:hover,
.editor-styles-wrapper .is-root-container input.comment-reply-link.post-page-numbers.current:hover,
.is-root-container input.comment-reply-link.post-page-numbers.current:hover,
.is-root-container input.is-outlined.post-page-numbers:hover,
.is-root-container .editor-styles-wrapper input.post-page-numbers.current:hover,
.editor-styles-wrapper .is-root-container input.post-page-numbers.current:hover,
.is-root-container input.post-page-numbers.current:hover,
.is-root-container .form-submit input.is-outlined.submit:hover,
.is-root-container .form-submit .editor-styles-wrapper input.submit.post-page-numbers.current:hover,
.editor-styles-wrapper .is-root-container .form-submit input.submit.post-page-numbers.current:hover,
.is-root-container .form-submit input.submit.post-page-numbers.current:hover, .editor-styles-wrapper .wp-block-buttons input.is-outlined.wp-block-button__link:hover:not(.has-background), .editor-styles-wrapper .wp-block-buttons input.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .editor-styles-wrapper .wp-block-buttons .is-root-container input.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .is-root-container .editor-styles-wrapper .wp-block-buttons input.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .editor-styles-wrapper .wp-block-buttons .is-style-outline > input.wp-block-button__link:hover:not(.has-background),
.editor-styles-wrapper .wp-block-buttons input.wp-block-button__link.is-style-outline:hover:not(.has-background), .is-root-container .wp-block-buttons input.is-outlined.wp-block-button__link:hover:not(.has-background), .is-root-container .wp-block-buttons .editor-styles-wrapper input.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .editor-styles-wrapper .is-root-container .wp-block-buttons input.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .is-root-container .wp-block-buttons input.wp-block-button__link.post-page-numbers.current:hover:not(.has-background), .is-root-container .wp-block-buttons .is-style-outline > input.wp-block-button__link:hover:not(.has-background),
.is-root-container .wp-block-buttons input.wp-block-button__link.is-style-outline:hover:not(.has-background), input.is-outlined.button--mini:hover, .editor-styles-wrapper input.button--mini.post-page-numbers.current:hover, .is-root-container input.button--mini.post-page-numbers.current:hover {
  animation: hoverBgColor ease 0.5s both;
  color: var(--tsbk-color-white);
}

@keyframes hoverBgColor {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.editor-styles-wrapper .wp-block-separator, .is-root-container .wp-block-separator {
  margin-top: 2.8037383178vw;
  margin-bottom: 2.8037383178vw;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .wp-block-separator, .is-root-container .wp-block-separator {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.editor-styles-wrapper .wp-block-latest-posts__list li, .is-root-container .wp-block-latest-posts__list li {
  margin-top: 0.9345794393vw;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .wp-block-latest-posts__list li, .is-root-container .wp-block-latest-posts__list li {
    margin-top: 8px;
  }
}
.editor-styles-wrapper .wp-block-latest-posts__list li:first-child, .is-root-container .wp-block-latest-posts__list li:first-child {
  margin-top: 0;
}
.editor-styles-wrapper .wp-block-latest-posts__list li a, .is-root-container .wp-block-latest-posts__list li a {
  font-size: 1rem;
}
.editor-styles-wrapper .wp-block-latest-posts__post-date, .is-root-container .wp-block-latest-posts__post-date {
  font-size: 0.875rem;
}

.editor-styles-wrapper .wp-block-archives-dropdown, .is-root-container .wp-block-archives-dropdown {
  position: relative;
}
.editor-styles-wrapper .wp-block-archives-dropdown label, .is-root-container .wp-block-archives-dropdown label {
  display: none;
}
.editor-styles-wrapper .wp-block-archives-dropdown select, .is-root-container .wp-block-archives-dropdown select {
  width: 100%;
  padding: 8px;
  border: solid 1px var(--tsbk-color-border);
  color: var(--tsbk-color-main-font);
}
.editor-styles-wrapper .wp-block-archives-dropdown::after, .is-root-container .wp-block-archives-dropdown::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Material Icons";
  font-size: 1.75rem;
}
.editor-styles-wrapper ul.wp-block-archives-list,
.editor-styles-wrapper ul.wp-block-categories-list, .is-root-container ul.wp-block-archives-list,
.is-root-container ul.wp-block-categories-list {
  margin-left: 1em;
  list-style: circle;
}
.editor-styles-wrapper ul.wp-block-archives-list li,
.editor-styles-wrapper ul.wp-block-categories-list li, .is-root-container ul.wp-block-archives-list li,
.is-root-container ul.wp-block-categories-list li {
  margin-top: 0.9345794393vw;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper ul.wp-block-archives-list li,
.editor-styles-wrapper ul.wp-block-categories-list li, .is-root-container ul.wp-block-archives-list li,
.is-root-container ul.wp-block-categories-list li {
    margin-top: 8px;
  }
}
.editor-styles-wrapper ul.wp-block-archives-list ul,
.editor-styles-wrapper ul.wp-block-categories-list ul, .is-root-container ul.wp-block-archives-list ul,
.is-root-container ul.wp-block-categories-list ul {
  margin-left: 1em;
  list-style: circle;
}

.editor-styles-wrapper .wp-block-query .wp-block-post-template:not(.is-flex-container) li, .is-root-container .wp-block-query .wp-block-post-template:not(.is-flex-container) li {
  padding: 20px 0;
  border-bottom: solid 1px var(--tsbk-color-border);
}
.editor-styles-wrapper .wp-block-query .wp-block-post-template:not(.is-flex-container) li:first-child, .is-root-container .wp-block-query .wp-block-post-template:not(.is-flex-container) li:first-child {
  border-top: solid 1px var(--tsbk-color-border);
}
.editor-styles-wrapper .wp-block-query .wp-block-post-template:not(.is-flex-container) li > *:first-child, .is-root-container .wp-block-query .wp-block-post-template:not(.is-flex-container) li > *:first-child {
  margin-top: 0 !important;
}
.editor-styles-wrapper .wp-block-query .wp-block-post-template .wp-block-post-title a, .is-root-container .wp-block-query .wp-block-post-template .wp-block-post-title a {
  text-decoration: none;
}
.editor-styles-wrapper .wp-block-query .wp-block-post-template .wp-block-post-title a:hover, .is-root-container .wp-block-query .wp-block-post-template .wp-block-post-title a:hover {
  text-decoration: underline;
}
.editor-styles-wrapper .wp-block-query .wp-block-post-template .wp-block-post-title:not([style]) a, .is-root-container .wp-block-query .wp-block-post-template .wp-block-post-title:not([style]) a {
  color: var(--tsbk-color-base-font);
}
.editor-styles-wrapper .wp-block-query .wp-block-post-template .is-thumbnail .is-noimage, .is-root-container .wp-block-query .wp-block-post-template .is-thumbnail .is-noimage {
  display: block;
  height: 100%;
}
.editor-styles-wrapper .wp-block-query .wp-block-post-template .is-thumbnail .is-noimage span, .is-root-container .wp-block-query .wp-block-post-template .is-thumbnail .is-noimage span {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 3/2;
  width: 100%;
  background-color: var(--tsbk-color-sub);
  border: solid 1px var(--tsbk-color-border);
  color: var(--tsbk-color-sub-font);
  font-size: 2rem;
}
.editor-styles-wrapper .wp-block-query .wp-block-post-template .is-thumbnail .wp-block-post-featured-image, .is-root-container .wp-block-query .wp-block-post-template .is-thumbnail .wp-block-post-featured-image {
  overflow: hidden;
  transition: 0.5s;
}
.editor-styles-wrapper .wp-block-query .wp-block-post-template .is-thumbnail .wp-block-post-featured-image a, .is-root-container .wp-block-query .wp-block-post-template .is-thumbnail .wp-block-post-featured-image a {
  display: inline;
}
.editor-styles-wrapper .wp-block-query .wp-block-post-template .is-thumbnail .wp-block-post-featured-image img, .is-root-container .wp-block-query .wp-block-post-template .is-thumbnail .wp-block-post-featured-image img {
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.editor-styles-wrapper .wp-block-query .wp-block-post-template .is-thumbnail .wp-block-post-featured-image:hover img, .is-root-container .wp-block-query .wp-block-post-template .is-thumbnail .wp-block-post-featured-image:hover img {
  transform: scale(1.2);
}

.editor-styles-wrapper .wp-block-embed, .is-root-container .wp-block-embed {
  margin-bottom: 0;
}
.editor-styles-wrapper .wp-block-embed iframe, .is-root-container .wp-block-embed iframe {
  width: 100%;
}
.editor-styles-wrapper .wp-block-embed figcaption, .is-root-container .wp-block-embed figcaption {
  margin-bottom: 0;
}

.editor-styles-wrapper a:not(.wp-block-social-link-anchor)[target=_blank]::after, .is-root-container a:not(.wp-block-social-link-anchor)[target=_blank]::after {
  font-family: "Material Icons";
  content: "";
  display: inline-flex;
  align-items: center;
  margin-left: 0.5em;
  font-style: normal;
}
.editor-styles-wrapper a:not(.wp-block-social-link-anchor)[href$=".pdf"]::after, .is-root-container a:not(.wp-block-social-link-anchor)[href$=".pdf"]::after {
  font-family: "Material Icons";
  content: "";
  display: inline-flex;
  align-items: center;
  margin-left: 0.5em;
  font-style: normal;
}

.editor-styles-wrapper .wp-block-group__inner-container > *, .is-root-container .wp-block-group__inner-container > * {
  margin-top: 3.738317757vw;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .editor-styles-wrapper .wp-block-group__inner-container > *, .is-root-container .wp-block-group__inner-container > * {
    margin-top: 16px;
  }
}
.editor-styles-wrapper .wp-block-group__inner-container > *:first-child, .is-root-container .wp-block-group__inner-container > *:first-child {
  margin-top: 0 !important;
}

.editor-styles-wrapper {
  background-color: var(--tsbk-color-base);
  color: var(--tsbk-color-base-font);
}

/*# sourceMappingURL=editor.css.map*/