@charset "utf-8";

// ==========================================================================
// Foundation
// ==========================================================================
@use "foundation/colors";
@use "foundation/preset-font-size";

// ==========================================================================
// WP Blocks
// ==========================================================================

@use "wp-blocks/layout-editor";
//テキスト
@use "wp-blocks/heading";
@use "wp-blocks/paragraph";
@use "wp-blocks/list";
@use "wp-blocks/quote";
@use "wp-blocks/code";
@use "wp-blocks/pullquote";
@use "wp-blocks/table";

//メディア
@use "wp-blocks/image";
@use "wp-blocks/gallery";
@use "wp-blocks/video";
@use "wp-blocks/cover";

//デザイン
@use "wp-blocks/post-terms";
@use "wp-blocks/button";
@use "wp-blocks/separator";

//ウィジェット
@use "wp-blocks/latest-posts";
@use "wp-blocks/archives-categories";

//テーマ
@use "wp-blocks/query";

//埋め込み
@use "wp-blocks/embed";

//オプション
@use "wp-blocks/link";




