@use '../foundation/import';

.l-content-main,.l-content-sidebar {
    margin-top: import.spvw(16);
    @include import.mqMin(import.$tabletPortrait) {
        margin-top: 16px;
    }
}

@include import.mqMin(import.$tabletPortrait) {
    .is-col-2 {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        .l-content-main {
            flex:1;
            margin-right: 24px;
        }
        .l-content-sidebar {
            width: 300px;
        }
    }
}
