@use '../foundation/import';

.l-container {
	@include import.mqMin(import.$tabletSmall) {
		padding-left: 24px;
		padding-right: 24px;
	}
	@include import.mqMin(1200px) {
		max-width: 100vw;
		padding-left: calc((100% - 1160px) / 2);
		padding-right: calc((100% - 1160px) / 2);
	}
	@include import.mqMax(import.$smart) {
		padding-right: import.spvw(24);
		padding-left: import.spvw(24);
	}
	&--narrow {
		@include import.mqMin(import.$tabletSmall) {
			padding-left: 24px;
			padding-right: 24px;
		}
		@include import.mqMin(998px) {
			padding-left: calc((100% - 958px) / 2);
			padding-right: calc((100% - 958px) / 2);
		}
		@include import.mqMax(import.$smart) {
			padding-right: import.spvw(24);
			padding-left: import.spvw(24);
		}
	}
}
