@use '../../foundation/import';

.p-archive-ttl {
	position: relative;
	min-height: import.spvw(80);
	@include import.baseColorBlock(import.$white, import.$concrete, import.$black );
	@include import.mqMin(import.$tabletPortrait) {
		min-height: 96px;
	}
	&__label {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
		transform: translate(-50% ,-50%);
		text-align: center;
	}
}
