@use '../../foundation/import';

.p-breadcrumb {
	display: flex;
	padding-top: import.spvw(8);
	padding-bottom: import.spvw(8);
	white-space: nowrap;
	@include import.mqMin(import.$dpTabPt) {
		padding-top: 8px;
		padding-bottom: 8px;
	}
	> *:not(:first-child) {
		&::before {
			display: block;
			content: "\e5cc";
			margin-right: 0.4em;
			margin-left: 0.4em;
			font-family: 'Material Icons';
		}
	}
	&__list {
		display: flex;
		align-items: center;
		color: var(--tsbk-color-base-font) ;
		text-overflow: ellipsis;
		font-size: .75rem;
	}
	&__item {
		text-decoration: none;
		color: var(--tsbk-color-base-font);
		span {
			color: var(--tsbk-color-link);
		}
	}
}
