@use '../../foundation/import';

.p-breadcrumb {
	display: flex;
	padding-top: import.spvw(8);
	padding-bottom: import.spvw(8);
	overflow: hidden;
	background-color: import.$baseColor;
	border-top: solid 1px import.$concrete;
	white-space: nowrap;
	text-overflow: ellipsis;
	@include import.mqMin(import.$tabletPortrait) {
		padding-top: 8px;
		padding-bottom: 8px;
	}
	> *:not(:first-child) {
		&::before {
			display: inline-block;
			content: "\e5cc";
			margin-right: 0.4em;
			margin-left: 0.4em;
			font-family: 'Material Icons';
		}
	}
	&__list {
		display: inline-flex;
		align-items: center;
		color: import.$black ;
		text-decoration: none;
		font-size: .75rem;
	}
	&__item {
		color: import.$black;
		text-decoration: none;
	}
}
