@use '../../foundation/import';

.p-comment {
	&__meta {
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;
		&__avatar,&__author {
			margin-right: import.spvw(4);
			@include import.mqMin(import.$dpTabPt) {
				margin-right: 8px;
			}
		}
		&__avatar {
			width: import.spvw(16);
			@include import.mqMin(import.$dpTabPt) {
				width: 32px;
			}
			img {
				width: 100%;
			}
		}
		&__date {
			font-size: .75rem;
		}
	}
}
.p-comment + .p-comment ,
.is-child + .p-comment {
	margin-top: import.spvw(20);
	@include import.mqMin(import.$dpTabPt) {
		margin-top: 40px;
	}
}

.p-comment-form {
	display: flex;
	align-items: center;
	padding: 12px 0;
	@include import.mqMax(import.$dpMobile) {
		padding: import.spvw(6) 0;
	}
	&:not(.is-is-cookies) {
		@include import.mqMax(import.$dpMobile) {
			display: block;
		}
	}
	&__label {
		@include import.mqMin(import.$dpTabPt) {
			width: 20%;
		}
	}
	&__input {
		flex: 1;
	}
	&__label-for-check {
		margin-left: import.spvw(4);
		@include import.mqMin(import.$dpTabPt) {
			margin-left: 8px;
		}
	}
	&__required {
		font-weight: bold;
		color: var(--tsbk-color-acc);
	}
	&__comment {
		width: 100%;
	}
}
