@use '../../foundation/import';

/**
* コンテンツのヘッダーエリア
*/
.p-content-header-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	background-color: var(--tsbk-color-main);
	min-height: 20vw;
	&.is-featured-img {
		min-height: 33.33333vw;
	}
}
.p-content-header {
	position: relative;
	width: 100%;
	color: var(--tsbk-colo-main-font);
	padding-top: import.spvw(16);
	padding-bottom: import.spvw(16);
	z-index: 100;
	&.is-featured-img {
		color: var(--tsbk-color-main-font);
	}
	@include import.mqMin(import.$dpTabPt) {
		padding-top: 16px;
		padding-bottom: 16px;
	}
	&__label {
		font-size: var(--wp--preset--font-size--x-large);
	}
	&__meta {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		&__item {
			display: inline-flex;
			align-items: center;
			font-size: .875rem;
			font-weight: bold;
			&.is-published::before,&.is-modified::before,&.is-author::before{
				margin-right: .5em;
				font-family: 'Material Icons';
			}
			&.is-published::before{
				content:"\e8b5";
			}
			&.is-modified::before{
				content: "\e923";
			}
			&.is-author::before{
				content: "\e7fd";
			}
		}
		> *:not(:last-child) {
			&::after {
				content: "/";
				margin-right: 0.4em;
				margin-left: 0.4em;
			}
		}
	}
	&__tax {
		display: flex;
		align-items: center;
		&__item {
			display: inline-block;
			text-decoration: none;
			margin: 0 .5em 0 0;
			color: var(--tsbk-color-main-font);
			&.is-cat {
				@include import.catLabel;
				transition: .5s;
				&:hover{
					opacity: .5;
				}
			}
			&.is-tag {
				font-size: .75rem;
				font-weight: bold;
				&.is-featured-img {
					color: var(--tsbk-color-main-font);
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	&__lead {
		margin-top: import.spvw(8);
		font-weight: bold;
		@include import.mqMin(import.$dpTabPt) {
			margin-top: 16px;
		}
	}
}
.p-content-header-visual {
	position: absolute;
	width: 100%;
	height: 100%;
	top : 0;
	overflow: hidden;
	&__img {
		display: block;
		filter: brightness(70%);
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
