@use '../../foundation/import';

/**
* コンテンツのヘッダーエリア
*/
.p-content-header-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 66.6666%;
    background-color: import.$alto;
    @include import.mqMin(import.$tabletPortrait) {
        padding-bottom: 33.3333%;
    }
}
.p-content-header {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background: rgba($color: import.$black, $alpha: .4);
    z-index: 1;
    color: import.$white;
    padding-top: import.spvw(8);
    padding-bottom: import.spvw(8);
    @include import.mqMin(import.$tabletPortrait) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    &__label {
        font-size: import.spvw(24);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 36px;
        }
    }
    &__date {
        display: flex;
        flex-wrap: nowrap;
        font-size: import.spvw(10);
        font-weight: bold;
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 14px;
        }
        > *:not(:first-child) {
            &::before {
                content: "/";
                margin-right: 0.4em;
                margin-left: 0.4em;
            }
        }
    }
    &__lead {
        margin-top: import.spvw(8);
        font-weight: bold;
        @include import.mqMin(import.$tabletPortrait) {
            margin-top: 16px;
        }
    }
}
.p-content-header-visual {
    &__img {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/**
* コンテンツのブロックエディタ
*/
.p-content-block {
    padding-bottom: import.spvw(32);
    @include import.mqMin(import.$tabletPortrait) {
        padding-bottom: 40px;
    }
    > *:first-child {
        margin-top: 0;
    }
    > * ,
    .wp-block-columns .wp-block-column > * {
        margin-top: import.spvw(16);
        margin-bottom: 0;
        @include import.mqMin(import.$tabletPortrait) {
            margin-top: 16px;
        }
    }
    h1 + *,h2 + *,h3 + *,h4 + *,h5 + *, h6 + * {
        margin-top:import.spvw(8);
        @include import.mqMin(import.$tabletPortrait) {
            margin-top: 8px;
        }
    }
    h1 {
        font-size: import.spvw(28);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 36px;
        }
    }
    h2 {
        font-size: import.spvw(24);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 32px;
        }
    }
    h3 {
        font-size: import.spvw(20);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 28px;
        }
    }
    h4 {
        font-size: import.spvw(18);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 24px;
        }
    }
    h5 {
        font-size: import.spvw(16);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 20px;
        }
    }
    h6 {
        font-size: import.spvw(16);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 20px;
        }
    }
    ul , ol {
        margin-left: 1em;
    }
    .wp-block-image {
        text-align: center;
    }
    .wp-block-table {
        table {
            thead {
                tr {
                    border-bottom: solid 2px import.$black ;
                }
            }
            tbody {
                tr {
                    border-bottom: dotted 1px import.$black ;
                }
            }
            tfoot {
                tr {
                    border-top: solid 2px import.$black ;
                }
            }
            th,td {
                padding: import.spvw(8);
                @include import.mqMin(import.$tabletPortrait) {
                    padding: 8px;
                }
            }
        }
        &.is-style-stripes {
            border-bottom: none;
            table {
                tbody{
                    tr {
                        &:nth-child(odd) {
                            background-color:import.$subColor;
                        }
                    }
                }
            }
        }
    }
    .wp-block-embed {
        iframe {
            width: 100%;
        }
    }
    //区切り線
    .wp-block-separator {
        border-style: solid;
        border-width: 0 0 1px;
        margin-right: auto;
        margin-left: auto;
        width: 25%;
        &.is-style-wide {
            width: 100%;
        }
        &.is-style-dots {
            display: block;
            width: 100%;
            border:none;
            text-align: center;
            &:before {
                content:"\f141";
                font-family: Fontawesome;
                letter-spacing: normal;
                padding-left: 0;
            }
        }
    }
    //ギャラリー
    .wp-block-gallery  {
        margin-bottom: -1em;
        ul {
            margin-left: 0;
        }
    }
    //コード
    .wp-block-code {
        code {
            background-color: import.$white;
            border: solid 1px import.$alto;
            padding: import.spvw(8);
            @include import.mqMin(import.$tabletPortrait) {
                padding: 8px;
            }
        }
    }
    figure {
        figcaption {
            margin-top: import.spvw(8);
            text-align: center;
            font-size:import.spvw(8);
            @include import.mqMin(import.$tabletPortrait) {
                margin-top: 8px;
                font-size:12px;
            }
        }
    }
    &__pages {
        text-align: center;
        .post-page-numbers {
            margin: import.spvw(8);
            @include import.mqMin(import.$tabletPortrait) {
                margin: 8px;
            }
        }
        .current {
            font-weight: bold;
        }
    }
}
/**
* コンテンツのフッターエリア
*/
.p-content-footer {

}
