@use '../../foundation/import';

/**
* コンテンツのヘッダーエリア
*/
.p-content-header-wrapper {
	position: relative;
	height: 0;
	padding-bottom: 66.6666%;
	background-color: import.$alto;
	@include import.mqMin(import.$tabletPortrait) {
		padding-bottom: 33.3333%;
	}
}
.p-content-header {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	background: rgba($color: import.$black, $alpha: .4);
	z-index: 1;
	color: import.$white;
	padding-top: import.spvw(8);
	padding-bottom: import.spvw(8);
	@include import.mqMin(import.$tabletPortrait) {
		padding-top: 16px;
		padding-bottom: 16px;
	}
	&__label {
		font-size: 2rem;
	}
	&__date {
		display: flex;
		flex-wrap: nowrap;
		font-size:.875rem;
		font-weight: bold;
		> *:not(:first-child) {
			&::before {
				content: "/";
				margin-right: 0.4em;
				margin-left: 0.4em;
			}
		}
	}
	&__lead {
		margin-top: import.spvw(8);
		font-weight: bold;
		@include import.mqMin(import.$tabletPortrait) {
			margin-top: 16px;
		}
	}
}
.p-content-header-visual {
	&__img {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/**
* コンテンツのブロックエディタ
*/
.p-content-block {
	padding-bottom: import.spvw(32);
	@include import.mqMin(import.$tabletPortrait) {
		padding-bottom: 40px;
	}
	> *:first-child {
		margin-top: 0;
	}
	> * ,
	.wp-block-columns .wp-block-column > * {
		margin-top: import.spvw(16);
		margin-bottom: 0;
		@include import.mqMin(import.$tabletPortrait) {
			margin-top: 16px;
		}
	}




	//ギャラリー
	&__pages {
		text-align: center;
		.post-page-numbers {
			margin: import.spvw(8);
			@include import.mqMin(import.$tabletPortrait) {
				margin: 8px;
			}
		}
		.current {
			font-weight: bold;
		}
	}
}
