@use '../../foundation/import';

/**
* コンテンツのヘッダーエリア
*/
.p-content-header-wrapper {
	position: relative;
	height: 0;
	padding-bottom: 61.803398876%;
	background-color: import.$alto;
	@include import.mqMin(import.$tabletPortrait) {
		padding-bottom: 33.33333%;
	}
}
.p-content-header {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	background: rgba($color: import.$black, $alpha: .4);
	z-index: 1;
	color: import.$white;
	padding-top: import.spvw(8);
	padding-bottom: import.spvw(8);
	@include import.mqMin(import.$tabletPortrait) {
		padding-top: 16px;
		padding-bottom: 16px;
	}
	&__label {
		font-size: 2rem;
	}
	&__meta {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		&__item {
			display: inline-flex;
			align-items: center;
			font-size: .875rem;
			font-weight: bold;
			&.is-published::before,&.is-modified::before,&.is-author::before{
				margin-right: .5em;
				font-family: 'Material Icons';
			}
			&.is-published::before{
				content:"\e8b5";
			}
			&.is-modified::before{
				content: "\e923";
			}
			&.is-author::before{
				content: "\e7fd";
			}
		}
		> *:not(:last-child) {
			&::after {
				content: "/";
				margin-right: 0.4em;
				margin-left: 0.4em;
			}
		}
	}
	&__tax {
		&__item {
			display: inline-flex;
			align-items: center;
			margin: 0 .5em 0 0;
			text-decoration: none;
			color: import.$white;
			font-size: .875rem;
			&:hover {
				text-decoration: underline;
				&::before{
					text-decoration: none;
				}
			}
			&::before{
				display: inline-block;
				font-family: 'Material Icons';
				&:hover {
					text-decoration: none;
				}
			}
			&.is-cat {
				&::before{
					content: "\e2c7";
					margin-right: .1em;
				}
			}
			&.is-tag {
				&::before{
					content: "\e9ef";
				}
			}
		}
	}
	&__lead {
		margin-top: import.spvw(8);
		font-weight: bold;
		@include import.mqMin(import.$tabletPortrait) {
			margin-top: 16px;
		}
	}
}
.p-content-header-visual {
	&__img {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
