@use '../../foundation/import';

.p-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: import.spvw(16);
	padding-bottom: import.spvw(16);
	@include import.mtL;
	@include import.mqMax(import.$dpMobile) {
		flex-wrap: wrap;
		&__navigation {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			@include import.mtS;
			&.is-wide {
				width: 60%;
				display: block;
			}
		}
	}
	@include import.mqMin(import.$dpTabPt) {

		padding-top: 16px;
		padding-bottom: 16px;
		&__navigation {
			margin-top: 0;
		}
	}
	.button ,.button--reverse {
		margin: 0 8px;
		@include import.mqMax(import.$dpMobile) {
			margin-top: import.spvw(8);
		}
	}
}
