@use '../foundation/import';
.wp-block-archives-dropdown {
	position: relative;
	label {
		display: none;
	}
	select {
		width: 100%;
		padding: 8px;
		border: solid 1px var(--tsbk-color-border);
		color: var(--tsbk-color-main-font);
	}
	&::after {
		content: "\e5c5";
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		font-family: 'Material Icons';
		font-size: 1.75rem;
	}
}

ul.wp-block-archives-list,
ul.wp-block-categories-list {
	margin-left: 1em;
	list-style: circle;
	li {
		margin-top: import.spvw(4);
		@include import.mqMin(import.$dpTabPt) {
			margin-top: 8px;
		}
	}
	ul {
		margin-left: 1em;
		list-style: circle;
	}
}

