@use '../foundation/import';

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}
h1, h2 {
	font-size: 1.75rem;
}
h3 {
	font-size: 1.5rem;
}
h4, h5 {
	font-size: 1.25rem;
}
h5 ,h6 {
	font-size: 1rem;
}
h1,h2,h3,h4,h5,h6 {
	//ボーダーライン
	&.is-style-border {
		border-left: solid 8px var(--tsbk-color-acc);
		padding: import.spvw(4) import.spvw(8);
		@include import.mqMin(import.$dpTabPt) {
			padding: 8px 16px;
		}
	}
	//真ん中寄せ
	&.is-style-center {
		text-align: center;
		position: relative;
		display: block;
		height: auto;
		padding-bottom: 8px;
		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 100px;
			height: 4px;
			top: auto;
			right: auto;
			bottom: 0;
			left: 50%;
			background-color: var(--tsbk-color-acc);
			transform: translateX(-50%);
		}
	}
}
