@use '../foundation/import';

.wp-block-latest-posts {
	&__list {
		li {
			margin-top: import.spvw(4);
			@include import.mqMin(import.$dpTabPt) {
				margin-top: 8px;
			}
			&:first-child {
				margin-top: 0;
			}
			a {
				font-size: 1rem;
			}
		}
	}
	&__post-date {
		font-size: .875rem;
	}
}

