@use '../foundation/import';
body {
	background-color : var( --tsbk-color-base );
	color : var(--tsbk-color-base-font );
	@include import.container;
	font-family: 'Noto Sans JP', sans-serif;
	* {
		box-sizing: border-box;
	}
	> * {
		margin-bottom: 0;
		margin-top: import.spvw(32);
		@include import.mqMin(import.$dpTabPt) {
			margin-top: 40px;
		}
		&:first-child {
			margin-top: 0;
		}
	}
	p {
		margin: 0;
		line-height: 1.75;
		font-size: 1rem;
		 + p {
			 margin-top: 1em;
		 }
	}
	figure {
		figcaption {
			margin-top: import.spvw(6);
			margin-bottom: 0;
			text-align: center;
			font-size: .5rem;
			@include import.mqMin(import.$dpTabPt) {
				margin-top: 8px;
			}
		}
	}
}
