@use '../foundation/import';
@include import.wpBlocks {
	a {
		&:not(.wp-block-social-link-anchor) {
			&[target="_blank"] {
				&::after {
					font-family: 'Material Icons';
					content: "\e89e";
					display: inline-flex;
					align-items: center;
					margin-left: .5em;
					font-style: normal;
				}
			}
			&[href$=".pdf"] {
				&::after {
					font-family: 'Material Icons';
					content: "\e415";
					display: inline-flex;
					align-items: center;
					margin-left: .5em;
					font-style: normal;
				}
			}
		}
	}
}
