@use '../foundation/import';

ul {
	&:not([class]) ,&.wp-block-list {
		list-style-type: circle;
	}
}
ol {
	&:not([class]) ,&.wp-block-list {
		list-style-type: decimal;
	}
}
ul , ol {
	&:not([class]) ,&.wp-block-list {
		padding-left: 1.5em;
		font-size: 1rem;
		li {
			@include import.mtXS;
			&:first-child {
				margin-top: 0;
			}
			ul , ol {
				@include import.mtS;
			}
		}
	}
	&.wp-block-archives ,&.wp-block-post-template {
		list-style-type: none;
	}
}
