@use '../foundation/import';

.wp-block-post-terms {
	margin-bottom: -0.5em !important;
	* {
		display: inline-block;
		margin-bottom: .5em;
		background-color: import.$mainColor;
		color: import.$black;
		text-decoration: none;
		font-size: .5rem;
	}
	&.is-cat {
		* {
			border-radius: 24px;
			font-weight: bold;
			padding: import.spvw(2) import.spvw(6);
			@include import.mqMin(import.$tabletPortrait) {
				padding: 4px 12px;
			}
		}
	}
	&.is-tag {
		* {
			padding: import.spvw(2) import.spvw(4);
			@include import.mqMin(import.$tabletPortrait) {
				padding: 4px 8px;
			}
			&::before{
				content: "#";
			}
		}
	}
}
