@use '../foundation/import';
@use './button';
/**
ブロックパターンで追加したクエリグループのテンプレート
**/
.wp-tsbk-query {
	.wp-block-columns {
		margin-bottom: 0;
		&.is-layout-flex {
			gap: 1rem;
		}
		.wp-block-column {
			margin-top: 0 !important;
		}
	}
	.wp-block-post {
		margin-top: 0;
	}
	.wp-block-post-template {
		&:not(.is-flex-container) {
			li {
				padding: import.spvw(12) 0;
				border-bottom: solid 1px var(--tsbk-color-border);
				@include import.mqMin(import.$dpTabPt) {
					padding: 20px 0;
				}
				&:first-child {
					border-top: solid 1px var(--tsbk-color-border);
				}
			}
		}
		.wp-block-post-title {
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&:not([style]) a {
				color: var(--tsbk-color-base-font);
			}
		}
		.is-thumbnail {
			.is-noimage {
				display: block;
				height: 100%;
				span {
					display: flex;
					justify-content: center;
					align-items: center;
					aspect-ratio: 3/2;
					width: 100%;
					background-color: var( --tsbk-color-sub  );
					border: solid 1px var( --tsbk-color-border );
					color: var( --tsbk-color-sub-font );
					font-size: 2rem;
				}
			}
			.wp-block-post-featured-image {
				overflow: hidden;
				transition: .5s;
				a {
					display: inline;
				}
				img {
					aspect-ratio: 3 / 2;
					width: 100%;
					object-fit: cover;
					transition: .5s;
				}
				&:hover {
					img {
						transform: scale(1.2);
					}
				}
			}
		}
	}
	.wp-block-query-pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		@include import.mtL;
		@include import.mqMax(import.$dpMobile) {
			flex-wrap: wrap !important;
		}
		.page-numbers , .wp-block-query-pagination-previous ,.wp-block-query-pagination-next {
			@extend .button;
			&.current {
				@extend .is-outlined
			}
		}
		.wp-block-query-pagination-numbers, .wp-block-query-pagination-previous , .wp-block-query-pagination-next {
			margin: 0;
		}
		.wp-block-query-pagination-previous ,.wp-block-query-pagination-next {
			@include import.mqMax(import.$dpMobile) {
				width: 100%;
			}
		}
		.wp-block-query-pagination-numbers {
			margin: 0;
		}
	}
}

