@use '../foundation/import';

.wp-block-table {
	width: 100%;
	table {
		thead {
			tr {
				border-bottom: solid 2px var(--tsbk-color-border) ;
			}
		}
		tbody {
			tr {
				border-bottom: dotted 1px var(--tsbk-color-border) ;
			}
		}
		tfoot {
			tr {
				border-top: solid 2px var(--tsbk-color-border) ;
			}
		}
		th,td {
			padding: import.spvw(4);
			@include import.mqMin(import.$dpTabPt) {
				padding: 8px;
			}
		}
	}
	&.is-style-stripes {
		border-bottom: none;
		table {
			tbody{
				tr {
					&:nth-child(odd) {
						background-color:var(--tsbk-color-sub);
						color: var(--tsbk-color-sub-font );
					}
				}
			}
		}
	}
	&.is-selected {
		table {
			th,td {
				outline: var(--tsbk-color-base-font) dashed thin;
			}
		}
	}
}

