@use '../../foundation/import';

.p-archive-ttl {
    padding-top: import.spvw(16);
    padding-bottom: import.spvw(16);
    @include import.baseColorBlock(import.$subColorBg, import.$white, import.$subColorText);
    @include import.mqMin(import.$tabletPortrait) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    &__label {
        text-align: center;
    }
}
