@use '../../foundation/import';
.p-archive-ttl {
    padding-top: import.spvw(16);
    padding-bottom: import.spvw(16);
    background-color: import.$colorSubBody;
    @include import.mqMin(import.$tabletPortrait) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    &__label {
        text-align: center;
    }
}
