@use '../../foundation/import';
// ブロックエディタ
.p-block {
    padding-bottom: import.spvw(32);
    @include import.mqMin(import.$tabletPortrait) {
        padding-bottom: 40px;
    }
    > *:first-child {
        margin-top: 0;
    }
    > * ,
    .wp-block-columns .wp-block-column > * {
        margin-top: import.spvw(16);
        margin-bottom: 0;
        @include import.mqMin(import.$tabletPortrait) {
            margin-top: 16px;
        }
    }
    h1 + *,h2 + *,h3 + *,h4 + *,h5 + *, h6 + * {
        margin-top:import.spvw(8);
        @include import.mqMin(import.$tabletPortrait) {
            margin-top: 8px;
        }
    }
    h1 {
        font-size: import.spvw(28);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 36px;
        }
    }
    h2 {
        font-size: import.spvw(24);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 32px;
        }
    }
    h3 {
        font-size: import.spvw(20);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 28px;
        }
    }
    h4 {
        font-size: import.spvw(16);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 24px;
        }
    }
    h5 {
        font-size: import.spvw(16);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 16px;
        }
    }
    h6 {
        font-size: import.spvw(16);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 16px;
        }
    }
    ul , ol {
        margin-left: 1em;
    }
    .wp-block-image {
        text-align: center;
        figcaption {
            text-align: center;
            font-size:import.spvw(8);
            @include import.mqMin(import.$tabletPortrait) {
                font-size:12px;
            }
        }
    }
    .wp-block-table {
        table {
            thead {
                tr {
                    border-bottom: solid 2px import.$mineShaft ;
                }
            }
            tbody {
                tr {
                    border-bottom: dotted 1px import.$mineShaft ;
                }
            }
            tfoot {
                tr {
                    border-top: solid 2px import.$mineShaft ;
                }
            }
            th,td {
                padding: import.spvw(8);
                @include import.mqMin(import.$tabletPortrait) {
                    padding: 8px;
                }
            }
        }
        figcaption {
            margin-top: import.spvw(8);
            text-align: center;
            font-size:import.spvw(8);
            @include import.mqMin(import.$tabletPortrait) {
                margin-top: 8px;
                font-size:12px;
            }
        }
        &.is-style-stripes {
            border-bottom: none;
            table {
                tbody{
                    tr {
                        &:nth-child(odd) {
                            background-color:import.$subColor;
                        }
                    }
                }
            }
        }
    }
    .wp-block-embed {
        iframe {
            width: 100%;
        }
    }
    //区切り線
    .wp-block-separator {
        border-style: solid;
        border-width: 0 0 1px;
        margin-right: auto;
        margin-left: auto;
        width: 25%;
        &.is-style-wide {
            width: 100%;
        }
        &.is-style-dots {
            border:none;
        }
    }
    //ギャラリー
    .wp-block-gallery  {
        margin-bottom: -1em;
        ul {
            margin-left: 0;
        }
    }
    //コード
    .wp-block-code {
        code {
            background-color: import.$white;
            border: solid 1px import.$alto;
            padding: import.spvw(8);
            @include import.mqMin(import.$tabletPortrait) {
                padding: 8px;
            }
        }
    }
}
