@use '../../foundation/import';

.p-breadcrumb {
    list-style: none;
    padding-top: import.spvw(8);
    padding-bottom: import.spvw(8);
    background-color: import.$mainColor;
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @include import.mqMin(import.$tabletPortrait) {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    &__item {
        display: inline;
        white-space: nowrap;
        text-decoration: none;
        text-overflow: ellipsis;
        color: import.$mineShaft ;
        font-size: import.spvw(8);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 12px;
        }
        &:not(:first-child) {
            &::before {
                content: "\f054";
                font-family: FontAwesome;
                margin-right: 0.4em;
                margin-left: 0.4em;
            }
       }
    }
}
