@use '../../foundation/import';

.p-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: import.spvw(16);
    padding-top: import.spvw(16);
    padding-bottom: import.spvw(16);
    @include import.mqMin(import.$tabletPortrait) {
        margin-top: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .c-btn {
        margin: 0 8px;
    }
}
