@use '../../foundation/import';

.p-sidebar {
    margin-top: import.spvw(32);
    @include import.mqMin(import.$tabletPortrait) {
        margin-top: 40px;
    }
}
.p-sidebar-heading {
    font-weight: bold;
    @include import.mqMin(import.$tabletPortrait) {
        font-size: 18px;
    }
}
.p-sidebar-list {
    list-style: none;
    margin-top: import.spvw(8);
    @include import.mqMin(import.$tabletPortrait) {
        margin-top: 8px;
    }
    &__item {
        margin-top: import.spvw(4);
        @include import.mqMin(import.$tabletPortrait) {
            margin-top: 4px;
        }
    }
    .p-sidebar-list {
        margin-top: import.spvw(4);
        margin-left: import.spvw(8);
        @include import.mqMin(import.$tabletPortrait) {
            margin-top: 4px;
            margin-left: 16px;
        }
    }
}
