@use '../../foundation/import';
// コンテンツヘッダー
.p-title {
    position: relative;
    height: 0;
    padding-bottom: 41.2%;
    background-color: import.$alto;
}
.p-title-props {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    text-shadow:import.$white 0 0 3px;
    &__label {
        font-size: import.spvw(28);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 36px;
        }
    }
    &__date {
        font-size: import.spvw(10);
        @include import.mqMin(import.$tabletPortrait) {
            font-size: 14px;
        }
    }
}
.p-title-visual {
    &__img {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
