@use './functions' as functions;
@use './display' as display;
//メディアクエリ
@mixin mqMax($break-point) {
	@media screen and (max-width: $break-point) {
		@content;
	}
}

@mixin mqMin($break-point) {
	@media screen and (min-width: $break-point) {
		@content;
	}
}
@mixin mqMinMax($break-point-min, $break-point-max) {
	@media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
		@content;
	}
}

@mixin baseColorBlock($color1, $color2 , $color3) {
	background-size: 3px 3px;
	background-position: 50% 50%;
	background-image: repeating-linear-gradient(
		90deg,
		$color1 ,
		$color1 1px,
		transparent 1px,
		transparent 3px
	),
	repeating-linear-gradient(
		0deg,
		$color1 ,
		$color1 1px,
		$color2 1px,
		$color2 3px
	);
	background-repeat: repeat;
	color: $color3;
}
@mixin catLabel {
	display: inline-block;
	padding: functions.spvw(4) functions.spvw(8);
	background-color: var(--tsbk-color-acc);
	border-radius: functions.spvw(10);
	color: var(--tsbk-color-acc-font);
	font-size: .75rem;
	@include mqMin(display.$dpTabPt) {
		border-radius: 10px;
		padding: 4px 8px;
	}
}
//デフォルトのアニメーション時間
@mixin transitionDefalt {
	transition: all $transition $easing;
}

//clearfix
@mixin clearfix {
	zoom: 1;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin wpBlocks {
	.editor-styles-wrapper {
		@content;
	}
}
@mixin container {
	box-sizing: border-box;
	padding-right: functions.spvw(16);
	padding-left: functions.spvw(16);
	@include mqMin(display.$dpTabPt) {
		padding-right: 36px;
		padding-left: 36px;
	}
	@include mqMin(display.$dpWide) {
		max-width: 1366px;
		margin-right: auto;
		margin-left: auto;
		padding-left: 36px;
		padding-right: 36px;
	}
}

@mixin mtXL {
	margin-top: functions.spvw(64);
	@include mqMin(display.$dpTabPt) {
		margin-top: 80px;
	}
}
@mixin mtL {
	margin-top: functions.spvw(48);
	@include mqMin(display.$dpTabPt) {
		margin-top: 60px;
	}
}
@mixin mtM {
	margin-top: functions.spvw(24);
	@include mqMin(display.$dpTabPt) {
		margin-top: 32px;
	}
}
@mixin mtS {
	margin-top: functions.spvw(12);
	@include mqMin(display.$dpTabPt) {
		margin-top: 16px;
	}
}
@mixin mtXS {
	margin-top: functions.spvw(4) ;
	@include mqMin(display.$dpTabPt) {
		margin-top: 8px;
	}
}
@mixin mbXL {
	margin-bottom: functions.spvw(64);
	@include mqMin(display.$dpTabPt) {
		margin-bottom: 80px;
	}
}
@mixin mbL {
	margin-bottom: functions.spvw(48);
	@include mqMin(display.$dpTabPt) {
		margin-bottom: 60px;
	}
}
@mixin mbM {
	margin-bottom: functions.spvw(24);
	@include mqMin(display.$dpTabPt) {
		margin-bottom: 32px;
	}
}
@mixin mbS {
	margin-bottom: functions.spvw(12);
	@include mqMin(display.$dpTabPt) {
		margin-bottom: 16px;
	}
}
@mixin mbXS {
	margin-bottom: functions.spvw(4) ;
	@include mqMin(display.$dpTabPt) {
		margin-bottom: 8px;
	}
}

@mixin containerEditorBlock {
	@include mqMin(display.$dpTabPt) {
		max-width: 100vw;
		padding-left: calc((100% - 480px) / 2);
		padding-right: calc((100% - 480px) / 2);
	}
	@include mqMin(1000px) {
		max-width: 100vw;
		padding-left: calc((100% - 520px) / 2);
		padding-right: calc((100% - 520px) / 2);
	}
	@include mqMin(1200px) {
		max-width: 100vw;
		padding-left: calc((100% - 848px) / 2);
		padding-right: calc((100% - 848px) / 2);
	}
	@include mqMax(display.$dpMobile) {
		padding-right: functions.spvw(16);
		padding-left: functions.spvw(16);
	}
}
